# Part 1 - Getting Latitude and Longitude Data for relevant cities

In [1]:
# Import Necessary Libraries to deal with geographical data 
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation


!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/07/e1/9c72de674d5c2b8fcb0738a5ceeb5424941fefa080bfe4e240d0bacb5a38/geopy-2.0.0-py3-none-any.whl (111kB)
     |████████████████████████████████| 112kB 7.7MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0
Requirement already satisfied: folium==0.5.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.25.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (1.15.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (0.4.1)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium==0.5.0) (2.11.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.26.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (1.1.1)
Folium installed
Libraries imported.

In [2]:
# Load FourSquare API to get the geo-coordinates lat/Long for the cities of interest

CLIENT_ID = 'GBHFHMDMYOUFRB510EOREFYEITU0GHAHYUOHGO2PUIPFFLAH' # your Foursquare ID
CLIENT_SECRET = '3SKQ5PA1Q1HKWACFZFP2JTHRCC3OOCS3S34TGSIPX1255RV0' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

radius = 5000

Your credentails:
CLIENT_ID: GBHFHMDMYOUFRB510EOREFYEITU0GHAHYUOHGO2PUIPFFLAH
CLIENT_SECRET:3SKQ5PA1Q1HKWACFZFP2JTHRCC3OOCS3S34TGSIPX1255RV0

In [3]:
# 
graf_address = 'Grafenwoehr, Germany'
address = graf_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(graf_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)


# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

49.7200881 11.9066277
No RIVERS found within your radius at: Grafenwoehr, Germany

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:32: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:41: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:52: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

No WATER found within your radius at: Grafenwoehr, Germany

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:61: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:73: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

No OCEANS found within your radius at: Grafenwoehr, Germany

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:83: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:94: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.state,location.country,location.formattedAddress
0,4c7a3d6681bca09392e9ff14,Dick Hauter Lake,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932437,False,49.702396,11.886451,"[{'label': 'display', 'lat': 49.702396, 'lng':...",2447,DE,Bayern,Deutschland,[Deutschland]

In [4]:
Budapest_address = 'Budapest, Hungary'
address = Budapest_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Budapest_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

47.48138955 19.14607278448202

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:39: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:71: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:81: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:92: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following LAKE(S) were found:
The following OCEANS(S) were found:

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,4db3e01ca86e8d270779f432,Rákos patak,"[{'id': '4eb1d4dd4b900d56c88a45fd', 'name': 'R...",v-1607932438,False,Csertő u.,Gvadányi u.,47.522391,19.124762,"[{'label': 'display', 'lat': 47.52239141922887...",4837,1144,HU,Budapest,Budapest,Magyarország,"[Budapest, Csertő u. (Gvadányi u.), 1144, Magy..."
0,532a9cdc11d279c2e47fbe21,WaterMarkt.hu,"[{'id': '4bf58dd8d48988d1f8941735', 'name': 'F...",v-1607932438,False,Gyömrői út 140.,NaN,47.462772,19.163821,"[{'label': 'display', 'lat': 47.462772, 'lng':...",2465,1103,HU,Budapest,Budapest,Magyarország,"[Budapest, Gyömrői út 140., 1103, Magyarország]"
0,50886a77e4b0a15820df5fed,LakeFlower Club,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",v-1607932438,False,NaN,NaN,47.469410,19.163697,"[{'label': 'display', 'lat': 47.46941035966753...",1880,NaN,HU,NaN,NaN,Magyarország,[Magyarország]
1,51cf2d83498ec004c5bcd8dc,MineLakeStreet,"[{'id': '4bf58dd8d48988d1d8941735', 'name': 'G...",v-1607932438,False,NaN,NaN,47.469684,19.159933,"[{'label': 'display', 'lat': 47.469684, 'lng':...",1668,NaN,HU,NaN,NaN,Magyarország,[Magyarország]
2,5184e95a498e0b8ab7dfc427,Lak-Ész Kft.,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932438,False,NaN,NaN,47.513298,19.196300,"[{'label': 'display', 'lat': 47.51329842205346...",5185,NaN,HU,NaN,NaN,Magyarország,[Magyarország]
0,5ac7b1795c68383eb4067286,Óceán csempebolt,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932439,False,Veress Péter Út 15.,NaN,47.507425,19.171446,"[{'label': 'display', 'lat': 47.507425, 'lng':...",3470,1163,HU,Majorszegidűlő,Budapest,Magyarország,"[Majorszegidűlő, Veress Péter Út 15., 1163, Ma..."
1,59e0dedca306194f18f3d6b3,Ocean Tisztítószalon,"[{'id': '52f2ab2ebcbc57f1066b8b33', 'name': 'L...",v-1607932439,False,NaN,NaN,47.477430,19.068966,"[{'label': 'display', 'lat': 47.47743, 'lng': ...",5817,1095,HU,Budapest,Budapest,Magyarország,"[Budapest, 1095, Magyarország]"

In [5]:
Prague_address = 'Prague, Czech'
address = Prague_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Prague_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)


# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

50.0864234 14.4156772
The following RIVER(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:31: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:40: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:60: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:72: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:82: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:93: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following OCEANS(S) were found:

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,location.crossStreet,location.neighborhood
0,4fa92726e4b0d8648979eac4,Lavička u Vltavy pod Kafka Museem | Bench by t...,"[{'id': '4bf58dd8d48988d165941735', 'name': 'S...",v-1607932439,False,.,50.087856,14.410345,"[{'label': 'display', 'lat': 50.08785629272461...",412,118 00,CZ,Praha,Hlavní město Praha,Česká republika,"[., 118 00 Praha, Česká republika]",NaN,NaN
1,509faf51e4b01b9e4a4bdbdc,Lávka – River City,"[{'id': '4bf58dd8d48988d1df941735', 'name': 'B...",v-1607932439,False,NaN,50.093796,14.444339,"[{'label': 'display', 'lat': 50.09379626744105...",2205,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[186 00 Praha, Česká republika]",NaN,NaN
2,577b5577498ec5cc1d2c3996,River Garden Office I,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932439,False,Rohanské nábř. 670/17/19,50.095090,14.450569,"[{'label': 'display', 'lat': 50.09509035312192...",2672,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Rohanské nábř. 670/17/19, 186 00 Praha, Česká...",NaN,NaN
3,51deba6c498e70136225f749,River Garden Office II/III,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932439,False,Rohanské nábř. 678/23-29,50.095442,14.453113,"[{'label': 'display', 'lat': 50.09544223953865...",2855,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Rohanské nábř. 678/23-29, 186 00 Praha, Česká...",NaN,NaN
4,5328b969498ea5eaa78e3fab,River Business Centre,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932439,False,Strakonická 1199/2d,50.051256,14.411001,"[{'label': 'display', 'lat': 50.0512557662545,...",3929,150 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Strakonická 1199/2d, 150 00 Praha, Česká repu...",NaN,NaN
5,5b75a921a795bd002cb0be56,River Bar by Pastař,"[{'id': '4bf58dd8d48988d117941735', 'name': 'B...",v-1607932439,False,NaN,50.081840,14.408080,"[{'label': 'display', 'lat': 50.08184, 'lng': ...",744,118 00,CZ,Praha,Hlavní město Praha,Česká republika,"[118 00 Praha, Česká republika]",NaN,NaN
6,51128751e4b040523620f3b6,River Lofts,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1607932439,False,Varhulíkové,50.111415,14.450773,"[{'label': 'display', 'lat': 50.11141537601478...",3744,NaN,CZ,NaN,NaN,Česká republika,"[Varhulíkové, Česká republika]",NaN,NaN
7,512fb396e4b034af5140e1e3,Kameny - River City,"[{'id': '4bf58dd8d48988d162941735', 'name': 'O...",v-1607932439,False,Karolinská,50.094885,14.445434,"[{'label': 'display', 'lat': 50.0948848285854,...",2324,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Karolinská, 186 00 Praha, Česká republika]",NaN,NaN
8,5700123b498edaab84af6d0c,Dock River Watch,"[{'id': '4f2a210c4b9023bd5841ed28', 'name': 'H...",v-1607932439,False,Menclova,50.106403,14.465590,"[{'label': 'display', 'lat': 50.10640338246937...",4201,180 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Menclova, 180 00 Praha, Česká republika]",NaN,NaN
9,520e599011d2a3e2af011c60,Nominanza River Restaurant,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1607932439,False,Smetanovo nábř. 6,50.082520,14.412896,"[{'label': 'display', 'lat': 50.08252046177255...",477,110 00,CZ,NaN,NaN,Česká republika,"[Smetanovo nábř. 6, 110 00, Česká republika]",NaN,NaN
10,4f8d1158e4b0e5ed77c68c1e,Blue river palace,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1607932439,False,"Staropramenná 404/7, 150 00 Praga 5-Smíchov",50.083471,14.412170,"[{'label': 'display', 'lat': 50.08347105481120...",413,150 00,CZ,Praga 5,Hlavní město Praha,Česká republika,"[Staropramenná 404/7, 150 00 Praga 5-Smíchov, ...",NaN,NaN
11,52c004bc498e5c33be01883b,river boat,"[{'id': '4bf58dd8d48988d12d951735', 'name': 'B...",v-1607932439,False,NaN,50.093583,14.420429,"[{'label': 'display', 'lat': 50.09358337567502...",866,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
12,4bd14d3f9854d13a766af94d,River Diamond,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1607932439,False,Rohanské nábř. 657/9,50.094633,14.447284,"[{'label': 'display', 'lat': 50.09463276007268...",2435,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Rohanské nábř. 657/9, 186 00 Praha, Česká rep...",NaN,NaN
13,515c68a7e4b04ff76be3bf7a,Classic River Boat,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1607932439,False,NaN,50.079443,14.408657,"[{'label': 'display', 'lat': 50.0794434546473,...",924,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
14,4fddb945e4b057598b907a5e,River View 43,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932439,False,NaN,50.075993,14.414079,"[{'label': 'display', 'lat': 50.07599322525502...",1166,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
15,521fadc911d272b880dd6354,Apartmen Elegance by the River 2,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932439,False,Kremencova 17,50.079514,14.416883,"[{'label': 'display', 'lat': 50.07951354980469...",774,NaN,CZ,Praha,Hlavní město Praha,Česká republika,"[Kremencova 17, Praha, Česká republika]",NaN,NaN
16,4bf2b1ff7f2aef3b72cd392a,River View Classic,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932439,False,Naplavni 2,50.075982,14.414166,"[{'label': 'display', 'lat': 50.07598246224297...",1167,120 00,CZ,Praha 5-Nové Město,Česká Republika,Česká republika,"[Naplavni 2, 120 00 Praha 5-Nové Město, Česká ...",NaN,NaN
17,55802b1d498e122da2da77ff,River View Apartments,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1607932439,False,NaN,50.076017,14.414131,"[{'label': 'display', 'lat': 50.07601669295816...",1163,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
18,5c1a57f8c0c08400258cd415,River Garden Grill,"[{'id': '4bf58dd8d48988d1cc941735', 'name': 'S...",v-1607932439,False,Za Karlínským přístavem 683/8,50.095985,14.450197,"[{'label': 'display', 'lat': 50.095985, 'lng':...",2685,180 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Za Karlínským přístavem 683/8, 180 00 Praha, ...",NaN,NaN
19,4e88c05530f8d41099d85b6c,Classic River,"[{'id': '4bf58dd8d48988d12d951735', 'name': 'B...",v-1607932439,False,NaN,50.093456,14.425238,"[{'label': 'display', 'lat': 50.0934556418333,...",1038,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
20,57176aff498e728bf09a91c7,MH Apartments River Prague,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932439,False,"Staropramenna, 31",50.072266,14.406826,"[{'label': 'display', 'lat': 50.07226624104164...",1698,150 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Staropramenna, 31, 150 00 Praha, Česká republ...",NaN,NaN
21,58850fc4e9dad13b1f93916c,Prague Riverside Parties,"[{'id': '56aa371be4b08b9a8d573520', 'name': 'T...",v-1607932439,False,Karlova 184/12,50.085733,14.415618,"[{'label': 'display', 'lat': 50.08573334834828...",76,110 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Karlova 184/12, 110 00 Praha, Česká republika]",NaN,NaN
22,4d73979bd976236a3fbc1679,Pražská náplavka | Vltava Riverside (Pražská n...,"[{'id': '56aa371be4b08b9a8d5734c3', 'name': 'W...",v-1607932439,False,Novoměstská náplavka,50.071440,14.413989,NaN,1672,120 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Novoměstská náplavka, 120 00 Praha, Česká rep...",NaN,NaN
23,5d0ec0221feae30023540450,Oasis by the river,"[{'id': '4bf58dd8d48988d1c4941735', 'name': 'R...",v-1607932439,False,Plavecká 404/4,50.069057,14.415361,"[{'label': 'display', 'lat': 50.06905726177634...",1933,128 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Plavecká 404/4 (Podskalská), 128 00 Praha, Če...",Podskalská,NaN
24,53c8031e498e35c8e8fa0ea5,river camping Prague,"[{'id': '4bf58dd8d48988d1e4941735', 'name': 'C...",v-1607932439,False,NaN,50.113830,14.426320,"[{'label': 'display', 'lat': 50.11383042761375...",3144,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
25,4e6f18c7c65b6d433ac2cc9d,Riversides School Prague Junior High,"[{'id': '4bf58dd8d48988d13d941735', 'name': 'H...",v-1607932439,False,Milady Horákové 300/129,50.096526,14.402529,"[{'label': 'display', 'lat': 50.09652620701088...",1465,160 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Milady Horákové 300/129, 160 00 Praha, Česká ...",NaN,Dejvice
26,5d1a32cfe32452002340d48e,Five Rivers,"[{'id': '4bf58dd8d48988d10f941735', 'name': 'I...",v-1607932439,False,Křižovnická 60/10,50.088070,14.415400,"[{'label': 'display', 'lat': 50.08807, 'lng': ...",184,110 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Křižovnická 60/10, 110 00 Praha, Česká republ...",NaN,NaN
27,54b64385498e8924f28a1ee9,Riverview,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932439,False,Svornosti 2/3321,50.067010,14.410217,"[{'label': 'display', 'lat': 50.06701, 'lng': ...",2195,150 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Svornosti 2/3321, 150 00 Praha, Česká republika]",NaN,Smíchov
28,5ad60ea748b04e2ab902e77e,Riverside Cafe,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",v-1607932439,False,NaN,50.082653,14.412790,"[{'label': 'display', 'lat': 50.082653, 'lng':...",467,110 00,CZ,Praha,Hlavní město Praha,Česká republika,"[110 00 Praha, Česká republika]",NaN,NaN
29,4dfb8a6862e19b42f1e49b42,Vltava,"[{'id': '4eb1d4dd4b900d56c88a45fd', 'name': 'R...",v-1607932439,False,Vltava,50.083610,14.411488,"[{'label': 'display', 'lat': 50.08360956965531...",433,118 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Vltava, 118 00 Praha, Česká republika]",NaN,NaN
0,5393490e498e6b862b40786d,Water zorbing Prague,"[{'id': '4eb1d4dd4b900d56c88a45fd', 'name': 'R...",v-1607932439,False,NaN,50.083194,14.412986,"[{'label': 'display', 'lat': 50.08319434769701...",407,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
1,57c0977b498e7829a1d60c4f,OXYLIFE WATER s.r.o.,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932439,False,Vinohradská 343/6,50.078941,14.433200,"[{'label': 'display', 'lat': 50.078941, 'lng':...",1503,120 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Vinohradská 343/6, 120 00 Praha, Česká republ...",NaN,NaN
2,51ce2aec498e0f0ca16e46c1,Water Sports s.r.o. office,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932439,False,Na Vaclavce 42,50.065145,14.391882,"[{'label': 'display', 'lat': 50.065145, 'lng':...",2915,150 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Na Vaclavce 42, 150 00 Praha 5, Česká republika]",NaN,NaN
3,517cfc32e4b0e311d4ef7acb,Water trip,"[{'id': '4bf58dd8d48988d1f1931735', 'name': 'G...",v-1607932439,False,Prague,50.100323,14.456558,"[{'label': 'display', 'lat': 50.10032272338867...",3304,NaN,CZ,NaN,NaN,Česká republika,"[Prague, Česká republika]",NaN,NaN
4,4b790937f964a520a5e92ee3,Vodní a saunový svět Infinit,"[{'id': '4bf58dd8d48988d15e941735', 'name': 'P...",v-1607932439,False,Malletova 2350/6,50.101217,14.482555,"[{'label': 'display', 'lat': 50.10121653349780...",5052,190 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Malletova 2350/6 (Spojovací), 190 00 Praha 9,...",Spojovací,NaN
5,5794d60d498e5f281846ffaf,Waterfront Apartments Prague,"[{'id': '4f4530a74b9074f6e4fb0100', 'name': 'B...",v-1607932439,False,NaN,50.094646,14.447463,"[{'label': 'display', 'lat': 50.094646, 'lng':...",2447,186 00,CZ,NaN,Прага,Česká republika,"[186 00, Česká republika]",NaN,NaN
6,4c2c5c94ae6820a1e9381943,Vodní svět a opičí ostrovy,"[{'id': '58daa1558bbb0b01f18ec1fd', 'name': 'Z...",v-1607932439,False,U Trojského zámku 120/3,50.115887,14.407637,"[{'label': 'display', 'lat': 50.11588734055120...",3329,171 00,CZ,Praha,Hlavní město Praha,Česká republika,"[U Trojského zámku 120/3, 171 00 Praha, Česká ...",NaN,NaN
7,561bf7b7498e0c5c4f4904cc,Dance4water,"[{'id': '52e81612bcbc57f1066b79ef', 'name': 'C...",v-1607932439,False,Krizikovskeho 4,50.080889,14.447696,"[{'label': 'display', 'lat': 50.08088890715071...",2368,NaN,CZ,Praha,Hlavní město Praha,Česká republika,"[Krizikovskeho 4, Praha, Česká republika]",NaN,NaN
8,51eb947d498e7623c2d48e62,De Waterzak,"[{'id': '4f2a23984b9023bd5841ed2c', 'name': 'M...",v-1607932439,False,NaN,50.060913,14.412646,"[{'label': 'display', 'lat': 50.0609130859375,...",2848,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
0,5422fa93498e0bd3c4137286,Lake Kepler,"[{'id': '52e81612bcbc57f1066b7a28', 'name': 'B...",v-1607932440,False,NaN,50.091557,14.387102,"[{'label': 'display', 'lat': 50.09155700189445...",2119,NaN,CZ,NaN,NaN,Česká republika,[Česká republika],NaN,NaN
0,4f1fd442e4b01ff35224515f,Blue Ocean Management HQ,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932440,False,Václavské nám. 806/62,50.079709,14.429654,"[{'label': 'display', 'lat': 50.07970943306641...",1247,110 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Václavské nám. 806/62, 110 00 Praha 1, Česká ...",NaN,NaN
1,4bb85d4c98c7ef3bc20e3102,Restaurace Oceán,"[{'id': '4bf58dd8d48988d128941735', 'name': 'C...",v-1607932440,False,U Trojského zámku 120/3,50.116711,14.411081,"[{'label': 'display', 'lat': 50.1167106, 'lng'...",3387,171 00,CZ,Praha,Hlavní město Praha,Česká republika,"[U Trojského zámku 120/3, 171 00 Praha, Česká ...",NaN,NaN
2,59b65ad9fd16bb50bd7fe647,Ocean Restaurant,"[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S...",v-1607932440,False,NaN,50.092174,14.442671,"[{'label': 'display', 'lat': 50.09217417643853...",2031,186 00,CZ,Praha,Hlavní město Praha,Česká republika,"[186 00 Praha, Česká republika]",NaN,NaN
3,4fd4878ce4b0a1f007321240,Ocean Blue,"[{'id': '4bf58dd8d48988d14a941735', 'name': 'V...",v-1607932440,False,Arbesovo nám. 1,50.076006,14.405735,"[{'label': 'display', 'lat': 50.07600641149550...",1359,150 00,CZ,Praha,Hlavní město Praha,Česká republika,"[Arbesovo nám. 1, 150 00 Praha, Česká republika]",NaN,Smíchov
4,56b39d43498ea78eae2cecd2,Blue Ocean Travel,"[{'id': '4f04b08c2fb6e1c99f3db0bd', 'name': 'T...",v-1607932440,False,Rohanske Nabrezi 7,50.094352,14.447094,"[{'label': 'display', 'lat': 50.094352, 'lng':...",2411,NaN,CZ,NaN,NaN,Česká republika,"[Rohanske Nabrezi 7, Česká republika]",NaN,NaN
5,51277578e4b0b624ed0edd23,DHL Global forwarding - Ocean,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932440,False,Na Strži 65/1702,50.049617,14.440049,"[{'label': 'display', 'lat': 50.04961650316746...",4452,NaN,CZ,Praha,Hlavní město Praha,Česká republika,"[Na Strži 65/1702, Praha, Česká republika]",NaN,NaN

In [6]:
WP_address = 'West Point, NY'
address = WP_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(WP_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

40.8512481 -72.5359869

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following RIVER(S) were found:
The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:39: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:71: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following OCEANS(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:81: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:92: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,...,location.formattedAddress,location.address,location.postalCode,venuePage.id,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name
0,4e62778bd164ddd5e5c9f244,The River Beach,[],v-1607932440,False,40.891305,-72.503194,"[{'label': 'display', 'lat': 40.89130498718236...",5244,US,...,"[Hampton Bays, NY, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,524594dc11d20c55b97ec224,Riverhead Flower Shop Southside,"[{'id': '4bf58dd8d48988d11b951735', 'name': 'F...",v-1607932440,False,40.878302,-72.522430,"[{'label': 'display', 'lat': 40.878302, 'lng':...",3220,US,...,"[14 E Montauk Hwy, Hampton Bays, NY 11946, Uni...",14 E Montauk Hwy,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4d1cafaafd7bb60c0f08a0e1,Riverhead Building Supply,"[{'id': '4bf58dd8d48988d112951735', 'name': 'H...",v-1607932440,False,40.873684,-72.535773,"[{'label': 'display', 'lat': 40.87368419, 'lng...",2497,US,...,"[165 West Montauk Highway, Hampton Bays, NY 11...",165 West Montauk Highway,11946,554689916,NaN,NaN,NaN,NaN,NaN,NaN
0,4f2edfdee4b0bd78b852ab63,Hampton bays water district,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932441,False,40.877220,-72.523074,"[{'label': 'display', 'lat': 40.87721956961577...",3088,US,...,"[Hampton Bays, NY 11946, United States]",NaN,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4e64fadf7d8b85408abe3884,White Water Outfitters,"[{'id': '4bf58dd8d48988d1f2941735', 'name': 'S...",v-1607932441,False,40.891535,-72.503379,"[{'label': 'display', 'lat': 40.89153453102905...",5257,US,...,"[Hampton Bays, NY, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4fc94abae4b0dd7399fed20e,Futch On The Water,"[{'id': '4bf58dd8d48988d1f1931735', 'name': 'G...",v-1607932441,False,40.890758,-72.511392,"[{'label': 'display', 'lat': 40.890758, 'lng':...",4861,US,...,"[Hampton Bays, NY 11946, United States]",NaN,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4fd4d735e4b02d3b876cc567,Calm Water,"[{'id': '4bf58dd8d48988d12d951735', 'name': 'B...",v-1607932441,False,40.899835,-72.585926,"[{'label': 'display', 'lat': 40.89983511594737...",6849,US,...,"[Riverhead, NY 11901, United States]",NaN,11901,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5a32982ea92d983fea82723a,Hampton Watercraft & Marine,"[{'id': '4bf58dd8d48988d12d951735', 'name': 'B...",v-1607932441,False,40.883330,-72.504734,"[{'label': 'display', 'lat': 40.88333009999999...",4435,US,...,"[44 Newtown Rd, Hampton Bays, NY 11946, United...",44 Newtown Rd,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4aad8f23f964a520d96020e3,Edgewater Restaurant,"[{'id': '4bf58dd8d48988d14e941735', 'name': 'A...",v-1607932441,False,40.883690,-72.490049,"[{'label': 'display', 'lat': 40.88368958394302...",5291,US,...,"[295 E Montauk Hwy, Hampton Bays, NY 11946, Un...",295 E Montauk Hwy,11946,87588052,NaN,NaN,NaN,NaN,NaN,NaN
6,4ba139a5f964a520c2a337e3,Dockers Waterside Marina & Restaurant,"[{'id': '4bf58dd8d48988d1ce941735', 'name': 'S...",v-1607932441,False,40.819399,-72.563184,"[{'label': 'display', 'lat': 40.81939894258634...",4220,US,...,"[94 Dune Rd., East Quogue, NY 11942, United St...",94 Dune Rd.,11942,104676075,1802808,https://www.grubhub.com/restaurant/dockers-wat...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
7,4c4b2fa29e6dbe9a072cb40b,Hampton Watercraft and Marine,"[{'id': '4bf58dd8d48988d1e0941735', 'name': 'H...",v-1607932441,False,40.891878,-72.503157,"[{'label': 'display', 'lat': 40.89187798879859...",5300,US,...,"[Hampton Bays, NY 11946, United States]",NaN,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,4f7825cbe4b0b9643b06bbdb,Swan Lake,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932441,False,40.834956,-72.589310,"[{'label': 'display', 'lat': 40.83495552729121...",4842,US,...,"[East Quogue, NY 11942, United States]",NaN,11942,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,4c41f4e7ff711b8db8bd1205,Hampton Ocean Resort,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932441,False,40.825430,-72.535488,"[{'label': 'display', 'lat': 40.82542958295946...",2874,US,...,"[38 dune road, East Quogue, NY, United States]",38 dune road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4d05534e54d0236a81c6f3d5,Just A Mile to The Ocean,[],v-1607932441,False,40.869922,-72.516661,"[{'label': 'display', 'lat': 40.86992165725817...",2639,US,...,"[Hampton Bays, NY 11946, United States]",NaN,11946,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4c40a8a6520fa593ce67c8ac,Ocean View Terrace Motel,"[{'id': '4bf58dd8d48988d1fb931735', 'name': 'M...",v-1607932441,False,40.883953,-72.491773,"[{'label': 'display', 'lat': 40.88395300000000...",5206,US,...,"[285 E Montauk Hwy, Hampton Bays, NY 11946, Un...",285 E Montauk Hwy,11946,83815072,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
Colorado_Springs_address = 'Colorado Springs, CO'
address = Colorado_Springs_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Colorado_Springs_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)


# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

38.8339578 -104.8253485
The following RIVER(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:31: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:40: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:60: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:72: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following WATER venue(s) were found:
The following LAKE(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:82: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:93: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

No OCEANS found within your radius at: Colorado Springs, CO

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.city,location.state,location.country,location.formattedAddress,location.address,location.postalCode,venuePage.id,location.crossStreet,location.neighborhood
0,52095ff911d2a29ac0219a57,Pauls River View,"[{'id': '4eb1d4dd4b900d56c88a45fd', 'name': 'R...",v-1607932442,False,38.830486,-104.841304,"[{'label': 'display', 'lat': 38.83048605306804...",1436,US,Colorado Springs,CO,United States,"[Colorado Springs, CO, United States]",NaN,NaN,NaN,NaN,NaN
1,5d5b1f92912a950007628456,Rhone River Massage,"[{'id': '52f2ab2ebcbc57f1066b8b3c', 'name': 'M...",v-1607932442,False,38.795269,-104.804571,"[{'label': 'display', 'lat': 38.7952693812466,...",4668,US,Colorado Springs,CO,United States,"[1287 Lake Plaza Dr, Colorado Springs, CO 8090...",1287 Lake Plaza Dr,80906,NaN,NaN,NaN
2,582f2297dfa6ff0f0350725f,Five Rivers,"[{'id': '5032764e91d4c4b30a586d5a', 'name': 'C...",v-1607932442,False,38.840148,-104.822930,"[{'label': 'display', 'lat': 38.840148, 'lng':...",720,US,Colorado Springs,CO,United States,"[415 N Tejon St, Colorado Springs, CO 80903, U...",415 N Tejon St,80903,NaN,NaN,NaN
3,516ce635e4b0d1a905c15af8,Trout Riverfront Housing,"[{'id': '5032891291d4c4b30a586d68', 'name': 'A...",v-1607932442,False,38.849402,-104.811057,"[{'label': 'display', 'lat': 38.849402, 'lng':...",2119,US,Colorado Springs,CO,United States,"[Colorado Springs, CO, United States]",NaN,NaN,NaN,NaN,NaN
4,55ca6306498e35371651d151,4Rivers Equipment,"[{'id': '5454144b498ec1f095bff2f2', 'name': 'C...",v-1607932442,False,38.806995,-104.805588,"[{'label': 'display', 'lat': 38.8069953918457,...",3456,US,Colorado Springs,CO,United States,"[1100 E Cheyenne Rd, Colorado Springs, CO 8090...",1100 E Cheyenne Rd,80905,1359391338,NaN,NaN
5,5010211ee4b0b3d7029a9d20,Grand Rivers Rooms,"[{'id': '4bf58dd8d48988d12f951735', 'name': 'R...",v-1607932442,False,38.784677,-104.824460,"[{'label': 'display', 'lat': 38.78467696857873...",5486,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80906, United States]",NaN,80906,NaN,NaN,NaN
0,4f324d5319836c91c7ca4efa,Deep Rock Water,"[{'id': '4bf58dd8d48988d121951735', 'name': 'P...",v-1607932442,False,38.833516,-104.833059,"[{'label': 'display', 'lat': 38.8335161, 'lng'...",670,US,Colorado Springs,CO,United States,"[14 S Spruce St, Colorado Springs, CO 80905, U...",14 S Spruce St,80905,NaN,NaN,NaN
1,524343ffbce6f000297ec91d,American Water Damage of Colorado,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932442,False,38.834393,-104.821758,"[{'label': 'display', 'lat': 38.83439253592628...",315,US,Colorado Springs,CO,United States,"[3375 Fillmore Ridge Hts Ste A, Colorado Sprin...",3375 Fillmore Ridge Hts Ste A,80907,NaN,NaN,NaN
2,4bc0dab7461576b07ae77a32,Water Works Car Wash & Detail Shop,"[{'id': '4f04ae1f2fb6e1c99f3db0ba', 'name': 'C...",v-1607932442,False,38.825774,-104.821675,"[{'label': 'display', 'lat': 38.82577383998728...",965,US,Colorado Springs,CO,United States,"[525 S Nevada Ave (Moreno St.), Colorado Sprin...",525 S Nevada Ave,80903,NaN,Moreno St.,NaN
3,4c005e9befa2ef3b0f49aa8c,Water Works Car Wash,"[{'id': '4bf58dd8d48988d124951735', 'name': 'A...",v-1607932442,False,38.848194,-104.757750,"[{'label': 'display', 'lat': 38.84819417248648...",6071,US,Colorado Springs,CO,United States,"[1108 N Academy Blvd (Galley), Colorado Spring...",1108 N Academy Blvd,80909,NaN,Galley,NaN
4,4f8dfefae4b0c71725fdfabb,The Good Water Fountain 2nd Floor Loomis,"[{'id': '4bf58dd8d48988d141941735', 'name': 'S...",v-1607932442,False,38.849391,-104.826156,"[{'label': 'display', 'lat': 38.849391, 'lng':...",1719,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80903, United States]",NaN,80903,NaN,NaN,NaN
5,5ad5f331805e3f11beea3a89,Water Company,"[{'id': '5454144b498ec1f095bff2f2', 'name': 'C...",v-1607932442,False,38.836898,-104.778395,"[{'label': 'display', 'lat': 38.836898, 'lng':...",4084,US,Colorado Springs,CO,United States,"[2612 Platte Pl, Colorado Springs, CO 80909, U...",2612 Platte Pl,80909,NaN,NaN,NaN
6,56c2cf9acd108fea49d8af56,Water Damage Colorado Springs,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932442,False,38.836823,-104.774971,"[{'label': 'display', 'lat': 38.83682250976562...",4379,US,Colorado Springs,CO,United States,"[322 Juanita St #50, Colorado Springs, CO 8090...",322 Juanita St #50,80909,NaN,NaN,NaN
7,54d5122e498e38d08e837e00,Wild Water Washes,"[{'id': '4f04ae1f2fb6e1c99f3db0ba', 'name': 'C...",v-1607932442,False,38.834082,-104.859585,"[{'label': 'display', 'lat': 38.83408219948673...",2968,US,Colorado Springs,CO,United States,"[Colorado Springs, CO, United States]",NaN,NaN,NaN,NaN,NaN
8,56f6463a498e9337d5483ef2,"Waters Kubik & Cassens, LLC","[{'id': '52f2ab2ebcbc57f1066b8b3f', 'name': 'L...",v-1607932442,False,38.824140,-104.823763,"[{'label': 'display', 'lat': 38.8241401, 'lng'...",1101,US,Colorado Springs,CO,United States,"[707 S Tejon St, Colorado Springs, CO 80903, U...",707 S Tejon St,80903,NaN,NaN,NaN
9,4d5b1a769c8a236a3850db14,Waterworks,[],v-1607932442,False,38.825748,-104.820961,"[{'label': 'display', 'lat': 38.82574782971766...",989,US,Colorado Springs,CO,United States,"[South nevada, Colorado Springs, CO, United St...",South nevada,NaN,NaN,NaN,NaN
10,5bab2eee00b068002d4d304a,Mountain High Water Damage Restoration,"[{'id': '5454144b498ec1f095bff2f2', 'name': 'C...",v-1607932442,False,38.851373,-104.770440,"[{'label': 'display', 'lat': 38.85137299999999...",5140,US,Colorado Springs,CO,United States,"[1311 Holmes Dr, Colorado Springs, CO 80909, U...",1311 Holmes Dr,80909,NaN,NaN,NaN
11,5114248fe4b0bdd779be2ac0,Mesa water treatment plant,"[{'id': '4eb1bea83b7b6f98df247e06', 'name': 'F...",v-1607932442,False,38.870251,-104.862358,"[{'label': 'display', 'lat': 38.8702507019043,...",5159,US,Colorado Springs,CO,United States,"[2715 Mesa Rd, Colorado Springs, CO 80904, Uni...",2715 Mesa Rd,80904,NaN,NaN,NaN
12,52433e9fbce6f000297b2236,American Water Damage of Colorado,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932442,False,38.880356,-104.840672,"[{'label': 'display', 'lat': 38.880356, 'lng':...",5333,US,Colorado Springs,CO,United States,"[3375 Fillmore Ridge Hts, Colorado Springs, CO...",3375 Fillmore Ridge Hts,80907,NaN,NaN,NaN
13,4fe2621de4b0fa547aad3bdd,American Water Damage,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932442,False,38.880413,-104.841042,"[{'label': 'display', 'lat': 38.88041305541992...",5347,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80907, United States]",NaN,80907,NaN,NaN,NaN
14,52434457bce6f000297f1003,American Water Damage of Denver,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932442,False,38.880594,-104.841456,"[{'label': 'display', 'lat': 38.88059368765432...",5375,US,Colorado Springs,CO,United States,"[3375 Fillmore Ridge Hts Ste A, Colorado Sprin...",3375 Fillmore Ridge Hts Ste A,80907,NaN,NaN,NaN
15,5d0d316171f3e80023b5d070,Watergirls Wellness,"[{'id': '54541900498ea6ccd0202697', 'name': 'H...",v-1607932442,False,38.848594,-104.864400,"[{'label': 'display', 'lat': 38.848594, 'lng':...",3757,US,Colorado Springs,CO,United States,"[2616 W Colorado Ave, Colorado Springs, CO 809...",2616 W Colorado Ave,80904,NaN,NaN,NaN
16,5e3b42c157fcde00087c472d,United Water Restoration Group of Colorado Spr...,"[{'id': '52f2ab2ebcbc57f1066b8b2f', 'name': 'O...",v-1607932442,False,38.791793,-104.790606,"[{'label': 'display', 'lat': 38.7917928, 'lng'...",5577,US,Colorado Springs,CO,United States,"[2852 Janitell Rd, Colorado Springs, CO 80906,...",2852 Janitell Rd,80906,NaN,NaN,NaN
17,4ba555fcf964a52021fc38e3,White Water Rapid Wash,"[{'id': '4f04ae1f2fb6e1c99f3db0ba', 'name': 'C...",v-1607932442,False,38.833419,-104.758134,"[{'label': 'display', 'lat': 38.83341880366699...",5828,US,Colorado Springs,CO,United States,"[86 N Academy Blvd (At Pikes Peak), Colorado S...",86 N Academy Blvd,80909,NaN,At Pikes Peak,NaN
18,50b3bd92e4b0036cfc2b6c22,Serene Waters,"[{'id': '4bf58dd8d48988d1ed941735', 'name': 'S...",v-1607932442,False,38.848083,-104.857437,"[{'label': 'entrance', 'lat': 38.848179, 'lng'...",3195,US,Colorado Springs,CO,United States,"[2305 W Platte Ave, Colorado Springs, CO 80904...",2305 W Platte Ave,80904,NaN,NaN,NaN
19,4df55798a809141629a9112a,Bear Creek Waterfall,"[{'id': '4bf58dd8d48988d159941735', 'name': 'T...",v-1607932442,False,38.805882,-104.838944,"[{'label': 'display', 'lat': 38.80588242724334...",3340,US,NaN,Colorado,United States,"[Colorado, United States]",NaN,NaN,NaN,NaN,NaN
20,4bc8b0550050b713c8edba3b,Uncharted Waters Sports Ministry,"[{'id': '4bf58dd8d48988d131941735', 'name': 'S...",v-1607932442,False,38.847386,-104.863591,"[{'label': 'display', 'lat': 38.847386, 'lng':...",3637,US,Colorado Springs,CO,United States,[2501 W Colorado Ave Ste 204 (SW Corner of Col...,2501 W Colorado Ave Ste 204,80904,NaN,SW Corner of Colorado Ave. & 25th St.,NaN
0,4c01967ef8492d7f281e5ffa,Prospect Lake,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932442,False,38.825432,-104.796255,"[{'label': 'display', 'lat': 38.82543175363899...",2695,US,Colorado Springs,CO,United States,"[S. Union Blvd. (at Airport Rd.), Colorado Spr...",S. Union Blvd.,80910,NaN,at Airport Rd.,NaN
1,4f32c03019836c91c7f67ce6,Palmer Lake Brewing Co,"[{'id': '4bf58dd8d48988d11b941735', 'name': 'P...",v-1607932442,False,38.826545,-104.827291,"[{'label': 'display', 'lat': 38.826545, 'lng':...",842,US,Colorado Springs,CO,United States,"[25 W Cimarron St, Colorado Springs, CO 80903,...",25 W Cimarron St,80903,NaN,NaN,NaN
2,50d4ca1ee4b0aceb0c183cf6,I-25 & Lake Ave / S Circle Dr,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932442,False,38.795913,-104.797398,"[{'label': 'display', 'lat': 38.79591300729261...",4879,US,Colorado Springs,CO,United States,"[I-25 (Lake Ave), Colorado Springs, CO 80906, ...",I-25,80906,NaN,Lake Ave,NaN
3,4fdbc716e4b0a4cb4dd474c1,lake side auto,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932442,False,38.824224,-104.842050,"[{'label': 'display', 'lat': 38.82422379309092...",1808,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80905, United States]",NaN,80905,NaN,NaN,NaN
4,51f6c8db498e2606f484f571,the lake at king soopers,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932442,False,38.849026,-104.849670,"[{'label': 'display', 'lat': 38.84902572631836...",2694,US,Colorado Springs,CO,United States,"[Colorado Springs, CO, United States]",NaN,NaN,NaN,NaN,NaN
5,5b23350f35d3fc002c35d0ec,Lake Avenue Dental,"[{'id': '4bf58dd8d48988d178941735', 'name': 'D...",v-1607932442,False,38.794299,-104.812271,"[{'label': 'display', 'lat': 38.79429938910812...",4558,US,Colorado Springs,CO,United States,"[830 Tenderfoot Hill Rd Ste 210, Colorado Spri...",830 Tenderfoot Hill Rd Ste 210,80906,NaN,NaN,NaN
6,5312091011d2924a5a386ccd,Lake Terrace Dining Room,"[{'id': '4bf58dd8d48988d14e941735', 'name': 'A...",v-1607932442,False,38.791054,-104.850604,"[{'label': 'display', 'lat': 38.79105383612448...",5254,US,Colorado Springs,CO,United States,"[Colorado Springs, CO, United States]",NaN,NaN,NaN,NaN,NaN
7,52680b7c11d26953f093abe1,Lakeside Auto Brokers,"[{'id': '4eb1c1623b7b52c0e1adc2ec', 'name': 'A...",v-1607932442,False,38.824243,-104.841927,"[{'label': 'display', 'lat': 38.824243, 'lng':...",1799,US,Colorado Springs,CO,United States,"[810 Brianna Pt, Colorado Springs, CO 80905, U...",810 Brianna Pt,80905,NaN,NaN,NaN
8,507e886ee4b09a52bfd43599,Room On The Lake,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932442,False,38.790973,-104.852815,"[{'label': 'display', 'lat': 38.790973, 'lng':...",5345,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80906, United States]",NaN,80906,NaN,NaN,NaN
9,4dd927c445ddced820b0657a,Lakeside Church Of Christ,"[{'id': '4bf58dd8d48988d132941735', 'name': 'C...",v-1607932442,False,38.824672,-104.803850,"[{'label': 'display', 'lat': 38.824672, 'lng':...",2131,US,Colorado Springs,CO,United States,"[603 S Hancock Ave, Colorado Springs, CO 80903...",603 S Hancock Ave,80903,NaN,NaN,NaN
10,5d06e9e0e7777d0023062770,"Broadmoor Lake Dental, Dr. Marc Van Ness, DMD","[{'id': '4bf58dd8d48988d178941735', 'name': 'D...",v-1607932442,False,38.794907,-104.830894,"[{'label': 'entrance', 'lat': 38.794982, 'lng'...",4373,US,Colorado Springs,CO,United States,"[155 Lake Ave (Suite 201), Colorado Springs, C...",155 Lake Ave,80906,NaN,Suite 201,NaN
11,4c45c8b98c1f20a128413e99,The Doctors Of Lake Pointe,"[{'id': '4bf58dd8d48988d177941735', 'name': 'D...",v-1607932442,False,38.795654,-104.813094,"[{'label': 'display', 'lat': 38.795654, 'lng':...",4394,US,Colorado Springs,CO,United States,"[2620 Tenderfoot Hill St, Colorado Springs, CO...",2620 Tenderfoot Hill St,80906,NaN,NaN,NaN
12,4dee6363d4c0194252fd42dd,Echo lake lodge,"[{'id': '4bf58dd8d48988d1eb941735', 'name': 'S...",v-1607932442,False,38.848381,-104.872742,"[{'label': 'display', 'lat': 38.84838104248047...",4411,US,Colorado Springs,CO,United States,"[529 S 31st St, Colorado Springs, CO 80904, Un...",529 S 31st St,80904,NaN,NaN,NaN
13,4cfa5f90084f5481f5b27a09,Cheyenne Lake At The Broadmoor,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932442,False,38.790876,-104.851222,"[{'label': 'display', 'lat': 38.79087553707387...",5295,US,Colorado Springs,CO,United States,"[Colorado Springs, CO 80906, United States]",NaN,80906,NaN,NaN,Broadmoor
14,5127c93ee0e283e3577f4540,Tax Attorney Experts of Lakewood,"[{'id': '52f2ab2ebcbc57f1066b8b3f', 'name': 'L...",v-1607932442,False,38.833256,-104.839568,"[{'label': 'display', 'lat': 38.83325592693151...",1235,US,Lakewood,CO,United States,"[410 W 8th Ave, suite# 5, Lakewood, CO 80214, ...","410 W 8th Ave, suite# 5",80214,NaN,NaN,NaN
15,4d3740604d8a6dcb06d9683f,Southgate & Lake,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932442,False,38.797905,-104.817444,"[{'label': 'display', 'lat': 38.79790513448894...",4071,US,Colorado Springs,CO,United States,"[Southgate & Lake, Colorado Springs, CO, Unite...",NaN,NaN,NaN,Southgate & Lake,NaN
16,58d8053d13af1c20e2c7a164,Lakeside Tower,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932442,False,38.791893,-104.851211,"[{'label': 'display', 'lat': 38.791893, 'lng':...",5192,US,Colorado Springs,CO,United States,"[1 Lake Ave, Colorado Springs, CO 80906, Unite...",1 Lake Ave,80906,NaN,NaN,NaN
17,4f32256d19836c91c7bab034,Neptune's Lakeside Cafe,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",v-1607932442,False,38.822018,-104.796623,"[{'label': 'display', 'lat': 38.82201766967773...",2823,US,Colorado Springs,CO,United States,"[870 Prospect Lake Dr, Colorado Springs, CO 80...",870 Prospect Lake Dr,80910,NaN,NaN,NaN
18,4b634780f964a520726f2ae3,The Tavern at The Broadmoor,"[{'id': '4bf58dd8d48988d1cc941735', 'name': 'S...",v-1607932442,False,38.791568,-104.850438,"[{'label': 'display', 'lat': 38.79156767591407...",5196,US,Colorado Springs,CO,United States,"[1 Lake Ave, Colorado Springs, CO 80906, Unite...",1 Lake Ave,80906,NaN,NaN,NaN
19,4bcb680dfb84c9b6c5cc1e3e,Culver's,"[{'id': '4bf58dd8d48988d16e941735', 'name': 'F...",v-1607932442,False,38.795065,-104.808169,"[{'label': 'display', 'lat': 38.79506455234996...",4578,US,Colorado Springs,CO,United States,"[1140 Lake Plaza Dr, Colorado Springs, CO 8090...",1140 Lake Plaza Dr,80906,NaN,NaN,NaN

In [8]:
Anchorage_address = 'Anchorage, AK'
address = Anchorage_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Anchorage_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

61.2163129 -149.894852
The following RIVER(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:39: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:71: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:81: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:92: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following LAKE(S) were found:

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,venuePage.id,location.crossStreet
0,4ee6c1297ee50feb3577c863,Copper River Seafoods-Plant,"[{'id': '52e81612bcbc57f1066b7a37', 'name': 'D...",v-1607932443,False,1400 E 1st Ave,61.221228,-149.856407,"[{'label': 'display', 'lat': 61.22122775, 'lng...",2131,99501,US,Anchorage,AK,United States,"[1400 E 1st Ave, Anchorage, AK 99501, United S...",459600438,NaN
1,4bfc3c591be376b0c859f8b4,Copper River Seafoods,"[{'id': '4bf58dd8d48988d10e951735', 'name': 'F...",v-1607932443,False,1400 E 1st Ave,61.221226,-149.856308,"[{'label': 'display', 'lat': 61.22122573852539...",2136,99501,US,Anchorage,AK,United States,"[1400 E 1st Ave, Anchorage, AK 99501, United S...",NaN,NaN
2,4f32c92e19836c91c7fa73b6,Riverside Adventures,"[{'id': '4d4b7105d754a06376d81259', 'name': 'N...",v-1607932443,False,2300 D St,61.199583,-149.888948,"[{'label': 'display', 'lat': 61.199583, 'lng':...",1889,99503,US,Anchorage,AK,United States,"[2300 D St, Anchorage, AK 99503, United States]",NaN,NaN
3,52d33b64498e67a4533fa9fa,Iglesia cristiana Rios de Gloria Rivers of Glo...,"[{'id': '4bf58dd8d48988d132941735', 'name': 'C...",v-1607932443,False,4317 Macinnes St,61.181422,-149.848533,"[{'label': 'display', 'lat': 61.181422, 'lng':...",4610,99508,US,Anchorage,AK,United States,"[4317 Macinnes St (Tudor), Anchorage, AK 99508...",NaN,Tudor
0,4f455849e4b054466cd77f7e,Department of Natural Resources. Division of ...,"[{'id': '4bf58dd8d48988d126941735', 'name': 'G...",v-1607932443,False,"550 W 7th, Ate 1200",61.215163,-149.892995,"[{'label': 'display', 'lat': 61.215163, 'lng':...",162,99501,US,Anchorage,AK,United States,"[550 W 7th, Ate 1200, Anchorage, AK 99501, Uni...",NaN,NaN
1,4d7571479ca3236ad2e22ccf,USGS Water Resources Field Office,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932443,False,1209 Orca St,61.210398,-149.854204,"[{'label': 'display', 'lat': 61.210398, 'lng':...",2276,99501,US,Anchorage,AK,United States,"[1209 Orca St, Anchorage, AK 99501, United Sta...",NaN,NaN
2,4ef0d0f46c256000c752b9d6,The Water Cooler,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",v-1607932443,False,510 L St Ste 600,61.217152,-149.904297,"[{'label': 'display', 'lat': 61.2171516418457,...",514,99501,US,Anchorage,AK,United States,"[510 L St Ste 600 (at 5th Ave), Anchorage, AK ...",NaN,at 5th Ave
3,4dc5ca8a1f6ef43b8a1fcfd9,Alaska Water Technologies,"[{'id': '4bf58dd8d48988d1ff941735', 'name': 'M...",v-1607932443,False,International,61.173376,-149.874856,"[{'label': 'display', 'lat': 61.17337604105435...",4898,99518,US,Anchorage,AK,United States,"[International (Old Seward), Anchorage, AK 995...",NaN,Old Seward
4,4e8a5843b803fd0aa04ed4e9,Anchorage Water & Wastewater Utility,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932443,False,3000 Arctic Blvd,61.192610,-149.899213,"[{'label': 'display', 'lat': 61.19261, 'lng': ...",2648,99503,US,Anchorage,AK,United States,"[3000 Arctic Blvd, Anchorage, AK 99503, United...",NaN,NaN
5,4b523244f964a520106f27e3,Margaret Eagan Sullivan Park (Westchester Lago...,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",v-1607932443,False,1824 W 15th Ave,61.207979,-149.914526,"[{'label': 'display', 'lat': 61.20797923501377...",1404,99501,US,Anchorage,AK,United States,"[1824 W 15th Ave, Anchorage, AK 99501, United ...",NaN,NaN
6,4c34ae7b7cc0c9b651b8f39a,Alaska Pure Water,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932443,False,301 International Airport Rd,61.174188,-149.878377,"[{'label': 'display', 'lat': 61.174188, 'lng':...",4771,99518,US,Anchorage,AK,United States,"[301 International Airport Rd, Anchorage, AK 9...",NaN,NaN
7,4dcd6813ae603b786d15454f,Gov't Hill Watertower,"[{'id': '4bf58dd8d48988d162941735', 'name': 'O...",v-1607932443,False,420 E Harvard,61.228163,-149.882937,"[{'label': 'display', 'lat': 61.22816341470667...",1465,99501,US,Anchorage,AK,United States,"[420 E Harvard (at Boyd), Anchorage, AK 99501,...",NaN,at Boyd
8,4c8aa132a92fa0934a0c93bf,The Waterworks Spas & Saunas,"[{'id': '4bf58dd8d48988d1ed941735', 'name': 'S...",v-1607932443,False,5700 Old Seward Higjway,61.168770,-149.868810,"[{'label': 'display', 'lat': 61.16876952270489...",5473,NaN,US,Anchorage,AK,United States,"[5700 Old Seward Higjway, Anchorage, AK, Unite...",NaN,NaN
9,51dd730f8bbd2c7e191aa1e4,Roto-Rooter,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932443,False,6100 Cordova St,61.165743,-149.879924,"[{'label': 'display', 'lat': 61.16574300000000...",5686,99518,US,Anchorage,AK,United States,"[6100 Cordova St (Cordova St.), Anchorage, AK ...",NaN,Cordova St.
10,5d660e7d8b45db000723a5fb,HD Supply Waterworks,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932443,False,440 W 40th Ave,61.184260,-149.891949,"[{'label': 'display', 'lat': 61.18426, 'lng': ...",3571,99503,US,Anchorage,AK,United States,"[440 W 40th Ave, Anchorage, AK 99503, United S...",NaN,NaN
0,4c02df33f423a593f974cf16,Lake Hood Seaplane Base,"[{'id': '4bf58dd8d48988d1ed931735', 'name': 'A...",v-1607932443,False,Int'l Airport Rd.,61.178091,-149.948673,"[{'label': 'display', 'lat': 61.17809133202236...",5141,99502,US,Anchorage,AK,United States,"[Int'l Airport Rd., Anchorage, AK 99502, Unite...",NaN,NaN
1,4f05e8754901346082e69045,Lake Otis Pkwy & 15th Ave,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,Lake Otis,61.207635,-149.838259,"[{'label': 'display', 'lat': 61.20763517308863...",3183,99508,US,Anchorage,AK,United States,"[Lake Otis, Anchorage, AK 99508, United States]",NaN,NaN
2,4e5faa0e52b171e17dbc08b3,Lake Otis Pkwy & Tudor Rd,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,NaN,61.180657,-149.838065,"[{'label': 'display', 'lat': 61.18065680702753...",5002,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
3,4bbebd0782a2ef3b53e12bd2,SpringHill Suites by Marriott Anchorage Univer...,"[{'id': '4bf58dd8d48988d1fa931735', 'name': 'H...",v-1607932443,False,4050 University Lake Dr,61.186184,-149.806265,"[{'label': 'display', 'lat': 61.1861836, 'lng'...",5815,99508,US,Anchorage,AK,United States,"[4050 University Lake Dr, Anchorage, AK 99508,...",505237328,NaN
4,4bf87283b182c9b69d8c775a,Lake Otis Medical Supply,"[{'id': '58daa1558bbb0b01f18ec206', 'name': 'M...",v-1607932443,False,4201 Lake Otis Pkwy,61.182314,-149.837303,"[{'label': 'display', 'lat': 61.18231383371676...",4883,99508,US,Anchorage,AK,United States,"[4201 Lake Otis Pkwy (at E 42nd Ave), Anchorag...",NaN,at E 42nd Ave
5,53639f27498ef8bbfca3f9ab,Lake Hood Inn Bed & Breakfast,"[{'id': '4bf58dd8d48988d1f8931735', 'name': 'B...",v-1607932443,False,4702 Lake Spenard Dr,61.178302,-149.942295,"[{'label': 'display', 'lat': 61.178302, 'lng':...",4937,99517,US,Anchorage,AK,United States,"[4702 Lake Spenard Dr, Anchorage, AK 99517, Un...",NaN,NaN
6,4f348db0e4b03d9aaa4b34ef,University lake dog park,"[{'id': '4bf58dd8d48988d1e5941735', 'name': 'D...",v-1607932443,False,NaN,61.186781,-149.805836,"[{'label': 'display', 'lat': 61.18678092687867...",5796,99507,US,Anchorage,AK,United States,"[Anchorage, AK 99507, United States]",NaN,NaN
7,4d406110de17a0931badf76b,Lake Otis Elementary,"[{'id': '4f4533804b9074f6e4fb0105', 'name': 'E...",v-1607932443,False,3331 Lake Otis Pkwy,61.190715,-149.837585,"[{'label': 'display', 'lat': 61.1907149518803,...",4189,99508,US,Anchorage,AK,United States,"[3331 Lake Otis Pkwy, Anchorage, AK 99508, Uni...",NaN,NaN
8,4e429c6f1f6ec93e92568367,Northern Lights Blvd & Lake Otis Pkwy,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,NaN,61.195349,-149.838202,"[{'label': 'display', 'lat': 61.19534861834943...",3830,99508,US,Anchorage,AK,United States,"[Anchorage, AK 99508, United States]",NaN,NaN
9,4bec6d642bc1b713d87abf3a,Terrace on the Lake,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932443,False,2421 Bentzen Cir,61.173803,-149.930165,"[{'label': 'display', 'lat': 61.17380269, 'lng...",5097,99517,US,Anchorage,AK,United States,"[2421 Bentzen Cir, Anchorage, AK 99517, United...",168205641,NaN
10,4bac2565f964a52022e73ae3,Cheney Lake Park,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932443,False,2245 Baxter Rd.,61.200177,-149.762191,"[{'label': 'display', 'lat': 61.20017678380431...",7335,NaN,US,Anchorage,AK,United States,"[2245 Baxter Rd., Anchorage, AK, United States]",NaN,NaN
11,5164d757e4b0f2d55ecb289b,Jewel Lake Rd & International Airport Rd,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,NaN,61.173791,-149.943445,"[{'label': 'display', 'lat': 61.17379117847824...",5403,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
12,5d73cf81fae52c00082d4949,lake and peninsula airlines,"[{'id': '56aa371be4b08b9a8d57352f', 'name': 'A...",v-1607932443,False,NaN,61.216995,-149.848848,"[{'label': 'display', 'lat': 61.216995, 'lng':...",2466,99501,US,Anchorage,AK,United States,"[Anchorage, AK 99501, United States]",NaN,NaN
13,52d1dcea498e490d25853c6d,Lake Clark Air Services,"[{'id': '4bf58dd8d48988d1f6931735', 'name': 'G...",v-1607932443,False,2425 Merrill Field Dr,61.214627,-149.834768,"[{'label': 'display', 'lat': 61.214627, 'lng':...",3226,99501,US,Anchorage,AK,United States,"[2425 Merrill Field Dr, Anchorage, AK 99501, U...",NaN,NaN
14,4beb58bba9900f4792c51740,Goose Lake,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",v-1607932443,False,Northern Lights Blvd,61.194347,-149.824546,"[{'label': 'display', 'lat': 61.19434679071207...",4493,99508,US,Anchorage,AK,United States,"[Northern Lights Blvd (at UAA Dr), Anchorage, ...",NaN,at UAA Dr
15,4e49a0ccc65bab125163fa4c,Lake Otis Elementary Playground,"[{'id': '4bf58dd8d48988d1e7941735', 'name': 'P...",v-1607932443,False,NaN,61.192204,-149.839826,"[{'label': 'display', 'lat': 61.192204, 'lng':...",3988,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
16,4fc3d5ede4b0e12f8ee69aa6,Duck Lake In Chester Creek Bike Trail,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932443,False,NaN,61.200402,-149.842329,"[{'label': 'display', 'lat': 61.20040212560235...",3326,99501,US,Anchorage,AK,United States,"[Anchorage, AK 99501, United States]",NaN,NaN
17,4de707a9e4cd8786975f9067,Lake Hood Elementary,"[{'id': '4f4533804b9074f6e4fb0105', 'name': 'E...",v-1607932443,False,NaN,61.185303,-149.950989,"[{'label': 'display', 'lat': 61.185302734375, ...",4580,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
18,5169c88ae4b0bafffff893a7,Lake Park Circle Resort,"[{'id': '4bf58dd8d48988d1f6931735', 'name': 'G...",v-1607932443,False,NaN,61.181941,-149.944378,"[{'label': 'display', 'lat': 61.18194081704423...",4657,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
19,55b66ac7498eb61daac3e45e,Lake Otis Medical Plaza,"[{'id': '4bf58dd8d48988d104941735', 'name': 'M...",v-1607932443,False,NaN,61.182953,-149.839738,"[{'label': 'display', 'lat': 61.18295300170471...",4746,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
20,4f12001ae4b01eefeecf342b,Lake Otis & Tudor Bus Stop,"[{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'B...",v-1607932443,False,NaN,61.180696,-149.839114,"[{'label': 'display', 'lat': 61.18069634136987...",4965,99507,US,Anchorage,AK,United States,"[Anchorage, AK 99507, United States]",NaN,NaN
21,4c11a04e6e5dc9b6e587b02d,Coast Inn at Lake Hood,"[{'id': '4bf58dd8d48988d1fb931735', 'name': 'M...",v-1607932443,False,3450 Aviation Ave,61.175016,-149.947808,"[{'label': 'display', 'lat': 61.17501561304679...",5403,99502,US,Anchorage,AK,United States,"[3450 Aviation Ave, Anchorage, AK 99502, Unite...",NaN,NaN
22,4ffb433ff31c2e91078f41a9,Lake Hood Strip Airport,"[{'id': '4bf58dd8d48988d1ed931735', 'name': 'A...",v-1607932443,False,Lakeshore Drive,61.184197,-149.966004,"[{'label': 'display', 'lat': 61.18419703024013...",5228,99502,US,Anchorage,AK,United States,"[Lakeshore Drive, Anchorage, AK 99502, United ...",NaN,NaN
23,4f945fd6e4b0e90bfc8c57d7,Otis Lake,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932443,False,NaN,61.194063,-149.844577,"[{'label': 'display', 'lat': 61.19406285704195...",3660,99508,US,Anchorage,AK,United States,"[Anchorage, AK 99508, United States]",NaN,NaN
24,5138f261e4b0515b34880979,Lake Otis & Tudor,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,NaN,61.181002,-149.838310,"[{'label': 'display', 'lat': 61.18100165886965...",4964,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
25,4c33c3f03896e21ed098ea90,Lake Otis Professional & Medical Center,"[{'id': '4bf58dd8d48988d104941735', 'name': 'M...",v-1607932443,False,4050 Lake Otis Pkwy,61.184006,-149.839634,"[{'label': 'display', 'lat': 61.18400600000000...",4658,99508,US,Anchorage,AK,United States,"[4050 Lake Otis Pkwy, Anchorage, AK 99508, Uni...",NaN,NaN
26,51c3d05b498e2ccdf4f5e65f,The Deck at Lake Hood,"[{'id': '4bf58dd8d48988d14e941735', 'name': 'A...",v-1607932443,False,NaN,61.177860,-149.942764,"[{'label': 'display', 'lat': 61.17786026000976...",4992,NaN,US,Anchorage,AK,United States,"[Anchorage, AK, United States]",NaN,NaN
27,4f4d499ee4b03af960939718,36th and lake otis,"[{'id': '52f2ab2ebcbc57f1066b8b4c', 'name': 'I...",v-1607932443,False,NaN,61.188033,-149.838854,"[{'label': 'display', 'lat': 61.18803346826048...",4350,99508,US,Anchorage,AK,United States,"[Anchorage, AK 99508, United States]",NaN,NaN
28,4c6b4d2f9669e21ee8ecaa51,Spenard Lake Park,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932443,False,NaN,61.180555,-149.946725,"[{'label': 'display', 'lat': 61.18055506420671...",4856,99517,US,Anchorage,AK,United States,"[Anchorage, AK 99517, United States]",NaN,NaN
29,4b75e864f964a520d52d2ee3,UAA University Lake Building,[],v-1607932443,False,3890 University Lake Dr,61.186938,-149.808677,"[{'label': 'display', 'lat': 61.186938, 'lng':...",5661,99508,US,Anchorage,AK,United States,"[3890 University Lake Dr, Anchorage, AK 99508,...",NaN,NaN
0,5f8df30293cd5847fc114df6,Pakalolo Oceanside,"[{'id': '52c71aaf3cf9994f4e043d17', 'name': 'M...",v-1607932443,False,735 W. 4th Ave,61.218763,-149.896892,"[{'label': 'display', 'lat': 61.2187632, 'lng'...",293,99501,US,Anchorage,AK,United States,"[735 W. 4th Ave, Anchorage, AK 99501, United S...",NaN,NaN

In [9]:
Harker_address = 'Harker Heights, TX'
address = Harker_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Harker_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

31.0746347 -97.6590473

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:39: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following RIVER(S) were found:
The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:71: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:81: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:92: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,location.crossStreet,venuePage.id
0,5536a0bd498ee32bb7542b18,River Oaks Apartment,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1607932444,False,101 S Twin Creek Dr,31.105293,-97.685969,"[{'label': 'display', 'lat': 31.10529339407865...",4270,76543,US,Killeen,TX,United States,"[101 S Twin Creek Dr, Killeen, TX 76543, Unite...",NaN,NaN
1,5115f49de4b08106255e2ca6,Riverrun,"[{'id': '4bf58dd8d48988d117941735', 'name': 'B...",v-1607932444,False,NaN,31.079355,-97.630798,"[{'label': 'display', 'lat': 31.07935523986816...",2744,76559,US,Nolanville,TX,United States,"[Nolanville, TX 76559, United States]",NaN,NaN
0,4e5bd31a1f6e804280e48eee,Killeen Water Tower,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932444,False,4047-4261 Cunningham Rd.,31.069317,-97.715621,"[{'label': 'display', 'lat': 31.06931726709570...",5426,76542,US,Killeen,TX,United States,"[4047-4261 Cunningham Rd., Killeen, TX 76542, ...",NaN,NaN
1,5cca8dde234724002b477151,Killeen Water Heaters,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932444,False,5114 Acorn Creek Trail,31.038870,-97.681723,"[{'label': 'display', 'lat': 31.03887026008412...",4530,76542,US,Killeen,TX,United States,"[5114 Acorn Creek Trail, Killeen, TX 76542, Un...",NaN,NaN
2,502d00dfe4b089f5e577cea8,"3902 Water oak, Killeen Tx",[],v-1607932444,False,NaN,31.073821,-97.706736,"[{'label': 'display', 'lat': 31.07382115, 'lng...",4547,76542,US,Killeen,TX,United States,"[Killeen, TX 76542, United States]",NaN,NaN
3,4f84aa55e4b08436d5e2c1e6,Nolanville Water Company,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932444,False,NaN,31.080789,-97.605304,"[{'label': 'display', 'lat': 31.08078876808916...",5169,76559,US,Nolanville,TX,United States,"[Nolanville, TX 76559, United States]",NaN,NaN
4,5099511221c6faec2e260986,Ferguson Waterworks,"[{'id': '4bf58dd8d48988d112951735', 'name': 'H...",v-1607932444,False,4405 Swanner Loop,31.111361,-97.681396,"[{'label': 'display', 'lat': 31.11136054992675...",4610,76543,US,Killeen,TX,United States,"[4405 Swanner Loop, Killeen, TX 76543, United ...",NaN,NaN
0,4ba3b2c6f964a520bf5538e3,East Lake Veterinary Center,"[{'id': '4d954af4a243a5684765b473', 'name': 'V...",v-1607932444,False,3518 East Rancier Ave,31.116001,-97.690674,"[{'label': 'display', 'lat': 31.11600105370195...",5503,76543,US,Killeen,TX,United States,[3518 East Rancier Ave (across from Long Branc...,across from Long Branch Park,572671748
0,4ce82b09baa6a1cd394d2c6c,Ocean Quest Pool And Spa,[],v-1607932445,False,NaN,31.085367,-97.710890,"[{'label': 'display', 'lat': 31.085367, 'lng':...",5084,76542,US,Killeen,TX,United States,"[Killeen, TX 76542, United States]",NaN,NaN

In [10]:
SA_address = 'San Antonio, TX'
address = SA_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(SA_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)


# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

29.4246002 -98.4951405

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:31: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following RIVER(S) were found:
The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:40: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:60: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:72: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:82: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:93: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following LAKE(S) were found:
The following OCEANS(S) were found:

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.distance,location.postalCode,location.cc,location.neighborhood,location.city,location.state,location.country,location.formattedAddress,venuePage.id,location.labeledLatLngs,location.crossStreet
0,4c2785965c5ca59305e547fe,The San Antonio River Walk,"[{'id': '52e81612bcbc57f1066b7a25', 'name': 'P...",v-1607932445,False,San Antonio River,29.424311,-98.488558,639,78205,US,Alamo Plaza,San Antonio,TX,United States,"[San Antonio River, San Antonio, TX 78205, Uni...",90532260,NaN,NaN
1,4ad4c000f964a520bbeb20e3,Arneson River Theatre,"[{'id': '4bf58dd8d48988d137941735', 'name': 'T...",v-1607932445,False,418 Villita St,29.422184,-98.488607,688,78205,US,NaN,San Antonio,TX,United States,"[418 Villita St, San Antonio, TX 78205, United...",NaN,"[{'label': 'display', 'lat': 29.42218402514006...",NaN
2,4de03d31d164e323c7a7ea49,Bella on the River,"[{'id': '4bf58dd8d48988d1c0941735', 'name': 'M...",v-1607932445,False,106 River Walk St,29.426424,-98.491065,444,78205,US,NaN,San Antonio,TX,United States,"[106 River Walk St, San Antonio, TX 78205, Uni...",NaN,"[{'label': 'display', 'lat': 29.426424, 'lng':...",NaN
3,5e1266f571fc7b00089728b9,River Street Sweets • Savannah's Candy Kitchen,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",v-1607932445,False,849 E Commerce St Ste 261,29.424190,-98.485480,937,78205,US,NaN,San Antonio,TX,United States,"[849 E Commerce St Ste 261, San Antonio, TX 78...",NaN,"[{'label': 'display', 'lat': 29.42419, 'lng': ...",NaN
4,4ad4c000f964a520d7eb20e3,Rivercenter Mall,"[{'id': '4bf58dd8d48988d1fd941735', 'name': 'S...",v-1607932445,False,849 E Commerce St,29.423676,-98.484690,1018,78205,US,NaN,San Antonio,TX,United States,"[849 E Commerce St, San Antonio, TX 78205, Uni...",NaN,"[{'label': 'display', 'lat': 29.42367552526469...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,4d65a93f05a7f04de69daa8f,OLLU Thiry Auditorium,"[{'id': '4bf58dd8d48988d1ac941735', 'name': 'C...",v-1607932446,False,NaN,29.426263,-98.544584,4797,NaN,US,NaN,NaN,Texas,United States,"[Texas, United States]",NaN,"[{'label': 'display', 'lat': 29.42626251360934...",NaN
24,4be071664f15c928bf43cb0b,OLLU Moye Hall,"[{'id': '4bf58dd8d48988d198941735', 'name': 'C...",v-1607932446,False,411 SW 24th St,29.426710,-98.543528,4697,78207,US,NaN,San Antonio,TX,United States,"[411 SW 24th St, San Antonio, TX 78207, United...",NaN,"[{'label': 'display', 'lat': 29.42670977449540...",NaN
25,4bc4ef8f702076b03a3f04c9,OLLU Metz Hall,"[{'id': '4bf58dd8d48988d1ae941735', 'name': 'U...",v-1607932446,False,411 SW 24th St,29.427084,-98.544463,4790,78207,US,NaN,San Antonio,TX,United States,"[411 SW 24th St, San Antonio, TX 78207, United...",NaN,"[{'label': 'display', 'lat': 29.42708365187700...",NaN
0,5a5806f5b399f74bd73e725d,OCEAN POOLS,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932446,False,710 W French Pl,29.449873,-98.501609,2882,78212,US,NaN,San Antonio,TX,United States,"[710 W French Pl, San Antonio, TX 78212, Unite...",NaN,"[{'label': 'display', 'lat': 29.449873, 'lng':...",NaN
1,58cc343133a2453077848371,ocean nail commerce,"[{'id': '4f04aa0c2fb6e1c99f3db0b8', 'name': 'N...",v-1607932446,False,NaN,29.429502,-98.543132,4684,NaN,US,NaN,San Antonio,TX,United States,"[San Antonio, TX, United States]",NaN,"[{'label': 'display', 'lat': 29.429502, 'lng':...",NaN

In [11]:
Augusta_address = 'Augusta, GA'
address = Augusta_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Augusta_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)


# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

48.3689438 10.8933327
No RIVERS found within your radius at: Augusta, GA

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:20: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:31: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:40: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:51: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

No WATER found within your radius at: Augusta, GA
No LAKES found within your radius at: Augusta, GA
The following OCEANS(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:60: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:72: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:82: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:93: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,5c93525fcf72a00039da556e,Oceans,"[{'id': '4bf58dd8d48988d1be941735', 'name': 'L...",v-1607932447,False,Dinglerstraße 10,48.378300,10.879387,"[{'label': 'display', 'lat': 48.3782998708942,...",1465,86154,DE,Augsburg,Bayern,Deutschland,"[Dinglerstraße 10, 86154 Augsburg, Deutschland]"
1,4e772ea4fa76059701c1ea4b,OCEANIC Europe,"[{'id': '4bf58dd8d48988d1f2941735', 'name': 'S...",v-1607932447,False,NaN,48.396881,10.934331,"[{'label': 'display', 'lat': 48.39688110351562...",4342,NaN,DE,Augsburg,Bayern,Deutschland,"[Augsburg, Deutschland]"

In [12]:
Tacoma_address = 'Tacoma, WA'
address = Tacoma_address
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(Tacoma_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

# Determine if there are any rivers, water, lake, or ocean venues in the city of interest
# print(search_query + ' .... OK!')

search_query = 'river'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No RIVERS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following RIVER(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
river_df = json_normalize(venues)
    
search_query = 'Water'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No WATER found within your radius at: ' + address)
if len(venues) > 1:
    print('The following WATER venue(s) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
water_df = json_normalize(venues)
   
search_query = 'Lake'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No LAKES found within your radius at: ' + address)
if len(venues) > 1:
    print('The following LAKE(S) were found: ')
    venues = results['response']['venues']
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
lake_df = json_normalize(venues)
lake_df.head()

search_query = 'ocean'
radius = radius
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
# assign relevant part of JSON to venues
venues = results['response']['venues']
# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()
if len(venues) == 0:
    print('No OCEANS found within your radius at: ' + address)
if len(venues) > 1:
    print('The following OCEANS(S) were found: ')
    
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
ocean_df = json_normalize(venues)

frames = [river_df, water_df, lake_df, ocean_df]
result = pd.concat(frames)
result

47.2495798 -122.4398746
The following RIVER(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:19: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:39: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following WATER venue(s) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:50: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:59: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

The following LAKE(S) were found:

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:71: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:81: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:92: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,...,location.formattedAddress,location.crossStreet,venuePage.id,location.neighborhood,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name
0,591ddd7e8194fc2d6645129e,Cedar River Clinics,"[{'id': '4bf58dd8d48988d1b3941735', 'name': 'M...",v-1607932447,False,1401 MLK Jr. Way,47.248778,-122.450666,"[{'label': 'display', 'lat': 47.248778, 'lng':...",820,...,"[1401 MLK Jr. Way, Tacoma, WA 98405, United St...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4ced53fe7b9437042c3a2653,River Road,"[{'id': '4bf58dd8d48988d1f9931735', 'name': 'R...",v-1607932447,False,NaN,47.231999,-122.382850,"[{'label': 'display', 'lat': 47.23199906559135...",4733,...,"[Tacoma, WA 98404, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4e4f221a1495fc2ca3fb9912,Puyallup River Green Bridge,"[{'id': '4bf58dd8d48988d1df941735', 'name': 'B...",v-1607932447,False,NaN,47.228990,-122.375429,"[{'label': 'display', 'lat': 47.22898956229557...",5383,...,"[Puyallup, WA, United States]",River Rd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4e644a53b0fb188e8e8055c4,Puyallup River,"[{'id': '4bf58dd8d48988d162941735', 'name': 'O...",v-1607932447,False,NaN,47.258200,-122.417743,"[{'label': 'display', 'lat': 47.2582003046156,...",1928,...,"[Washington, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4bb684bd46d4a5938e61c6c0,The River Custom Tattoo & Body Piercing,"[{'id': '4bf58dd8d48988d1de931735', 'name': 'T...",v-1607932447,False,5401 South Tacoma Way,47.207829,-122.483299,"[{'label': 'display', 'lat': 47.20782852172851...",5690,...,"[5401 South Tacoma Way, Tacoma, WA 98409, Unit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4d4b3074993f5481b17b4416,Pacific Pride,"[{'id': '4bf58dd8d48988d113951735', 'name': 'G...",v-1607932447,False,2115 E River St,47.245978,-122.415000,"[{'label': 'display', 'lat': 47.245978, 'lng':...",1921,...,"[2115 E River St, Tacoma, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4cff18f87c563704018ba8f0,Comprehensive Clinical Development,"[{'id': '4bf58dd8d48988d104941735', 'name': 'M...",v-1607932447,False,3615 Pacific Ave,47.225960,-122.433365,"[{'label': 'display', 'lat': 47.22595977783203...",2674,...,"[3615 Pacific Ave, Tacoma, WA 98418, United St...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,4ba6c7fef964a5204f6f39e3,Woody's On The Water,"[{'id': '4bf58dd8d48988d14e941735', 'name': 'A...",v-1607932448,False,1715 Dock St,47.246671,-122.433601,NaN,574,...,"[1715 Dock St, Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4e1b1103ae60e3765f4d84f4,Usgs Water Science,[],v-1607932448,False,NaN,47.254166,-122.440899,"[{'label': 'display', 'lat': 47.25416590473792...",516,...,"[Tacoma, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4dbc40866a23e294ba292c19,Water Concepts,"[{'id': '5454144b498ec1f095bff2f2', 'name': 'C...",v-1607932448,False,3505 South Tacoma Way,47.224888,-122.482283,"[{'label': 'display', 'lat': 47.2248877, 'lng'...",4222,...,"[3505 South Tacoma Way, Tacoma, WA 98409, Unit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fd0ae4e31ff27649436c3b4,Roto-Rooter Plumbing & Water Cleanup,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932448,False,"2501 East D Street, 209A",47.239535,-122.428821,"[{'label': 'display', 'lat': 47.2395347, 'lng'...",1395,...,"[2501 East D Street, 209A, Tacoma, WA 98421, U...",NaN,1359418319,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4e500a976284416669975c3d,CIty of Tacoma Water Works,"[{'id': '4bf58dd8d48988d126941735', 'name': 'G...",v-1607932448,False,6200 S Clement Ave,47.200782,-122.475846,"[{'label': 'display', 'lat': 47.20078200000000...",6074,...,"[6200 S Clement Ave (63rd & Clement), Tacoma, ...",63rd & Clement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4b5b8708f964a520db0429e3,Ruston Way Waterfront,"[{'id': '4bf58dd8d48988d1e2941735', 'name': 'B...",v-1607932448,False,Ruston Way,47.278362,-122.474543,"[{'label': 'display', 'lat': 47.27836189967532...",4138,...,"[Ruston Way, Tacoma, WA 98445, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4bace2a3f964a520c2153be3,"Air, Water, Soil Technologies","[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932448,False,2117 E River St,47.244945,-122.413335,"[{'label': 'display', 'lat': 47.244945, 'lng':...",2070,...,"[2117 E River St, Tacoma, WA 98421, United Sta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4c6f1c5334443704ee25205f,Watermark Gifts,"[{'id': '4bf58dd8d48988d128951735', 'name': 'G...",v-1607932448,False,1115 A St,47.252996,-122.436683,"[{'label': 'display', 'lat': 47.252996, 'lng':...",450,...,"[1115 A St (btwn S 11th St. & S 12th St.), Tac...",btwn S 11th St. & S 12th St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,554a5c3e498e7ff8f1225820,water out,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932448,False,4312 N 9th St,47.257791,-122.495070,"[{'label': 'display', 'lat': 47.257791, 'lng':...",4269,...,"[4312 N 9th St, Tacoma, WA 98406, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4dd2cecac65b47384ce9f9e4,Water Works,[],v-1607932448,False,5039 S Washington St,47.210322,-122.484790,"[{'label': 'display', 'lat': 47.21032168333333...",5534,...,"[5039 S Washington St, Tacoma, WA 98409, Unite...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5cba40802db4a9002bea6846,Ph Water On The Go,"[{'id': '4bf58dd8d48988d1ff941735', 'name': 'M...",v-1607932448,False,3833 Pacific Ave Ste 1B,47.222397,-122.433450,"[{'label': 'display', 'lat': 47.222397, 'lng':...",3064,...,"[3833 Pacific Ave Ste 1B, Tacoma, WA 98418, Un...",NaN,NaN,Eastside,NaN,NaN,NaN,NaN,NaN,NaN
11,5038e7b88055e08b042bb2a5,Roto-Rooter Plumbing & Water Cleanup,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932448,False,4002 Pacific Ave,47.220532,-122.434499,"[{'label': 'display', 'lat': 47.220532, 'lng':...",3258,...,"[4002 Pacific Ave, Tacoma, WA 98418, United St...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4e50003752b1e893ad634617,Water To Go,[],v-1607932448,False,6th Avenue Plaza,47.256794,-122.509163,"[{'label': 'display', 'lat': 47.256794, 'lng':...",5296,...,"[6th Avenue Plaza, Tacoma, WA 98406, United St...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4e628d421850e238d6b2401d,Thea Foss Waterway,"[{'id': '4bf58dd8d48988d1e0941735', 'name': 'H...",v-1607932448,False,Dock St,47.247145,-122.434557,"[{'label': 'display', 'lat': 47.24714470736389...",484,...,"[Dock St, Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4f494468e4b0a69abd20b5e4,field ops water cooler,"[{'id': '4bf58dd8d48988d1e0931735', 'name': 'C...",v-1607932448,False,NaN,47.223311,-122.465874,"[{'label': 'display', 'lat': 47.22331122038375...",3523,...,"[Tacoma, WA 98409, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4c598dc76407d13a4c6bb228,Tpu Water Dist.,[],v-1607932448,False,35th union,47.224148,-122.473712,"[{'label': 'display', 'lat': 47.224148, 'lng':...",3815,...,"[35th union, Tacoma, WA 98409, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4d20eb0a8629224b6a0a1787,Foss Waterway Marina,"[{'id': '4bf58dd8d48988d1e0941735', 'name': 'H...",v-1607932448,False,821 Dock St,47.255283,-122.435547,"[{'label': 'display', 'lat': 47.25528335571289...",714,...,"[821 Dock St, Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4d055ed637036dcbf14316fb,Tacoma Water Works,"[{'id': '4bf58dd8d48988d126941735', 'name': 'G...",v-1607932448,False,3506 S 35th St,47.227649,-122.482982,"[{'label': 'display', 'lat': 47.227649, 'lng':...",4071,...,"[3506 S 35th St (at Union Ave), Tacoma, WA, Un...",at Union Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5244a1f511d25d794ca99b8f,Pierce County Surface Water Management,"[{'id': '4bf58dd8d48988d126941735', 'name': 'G...",v-1607932448,False,2702 S 42nd St,47.218670,-122.472290,"[{'label': 'display', 'lat': 47.21866989135742...",4224,...,"[2702 S 42nd St, Tacoma, WA 98409, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5705d2b4498eee3c6274cf27,"Tacoma ""Thea Fossway"" Waterfront","[{'id': '56aa371be4b08b9a8d5734c3', 'name': 'W...",v-1607932448,False,NaN,47.244723,-122.436830,"[{'label': 'display', 'lat': 47.24472289729953...",587,...,"[Tacoma, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4d2a2727342d6dcba9f509cb,Working Waterfront Maritime Museum,"[{'id': '4bf58dd8d48988d181941735', 'name': 'M...",v-1607932448,False,705 Dock St,47.257845,-122.437026,"[{'label': 'display', 'lat': 47.25784516555654...",944,...,"[705 Dock St, Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4ebadbc28b81b89ad3445b9b,Tacoma Water,"[{'id': '4bf58dd8d48988d130941735', 'name': 'B...",v-1607932448,False,3506 S 35th St,47.227649,-122.482982,"[{'label': 'display', 'lat': 47.227649, 'lng':...",4071,...,"[3506 S 35th St (at Union Ave), Tacoma, WA 984...",at Union Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4bbb9b06e4529521a4e954a4,Waterfront Massage Therapy,"[{'id': '52f2ab2ebcbc57f1066b8b3c', 'name': 'M...",v-1607932448,False,2201 N 30th St,47.275033,-122.466243,"[{'label': 'display', 'lat': 47.275033, 'lng':...",3463,...,"[2201 N 30th St, Tacoma, WA 98403, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,5820e0e889cfe560cb6de004,Roto-Rooter Plumbing & Water Cleanup,"[{'id': '545419b1498ea6ccd0202f58', 'name': 'H...",v-1607932448,False,4630 16th St E Ste B9,47.241490,-122.366832,"[{'label': 'display', 'lat': 47.24149024193314...",5592,...,"[4630 16th St E Ste B9, Fife, WA 98424, United...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4e488cb814959d51c17f759e,Waterfront Fun House,"[{'id': '4d4b7105d754a06375d81259', 'name': 'P...",v-1607932448,False,NaN,47.283620,-122.484414,"[{'label': 'display', 'lat': 47.28362, 'lng': ...",5067,...,"[Tacoma, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4c43724b429a0f478265471e,WaterWerks,[],v-1607932448,False,2502 S Tyler St,47.239211,-122.496840,"[{'label': 'display', 'lat': 47.239211, 'lng':...",4457,...,"[2502 S Tyler St, Tacoma, WA 98405, United Sta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4d9b47c903d8721ea331e424,Center For Urban Waters,"[{'id': '4bf58dd8d48988d124941735', 'name': 'O...",v-1607932448,False,326 E D St,47.259807,-122.434741,"[{'label': 'display', 'lat': 47.259807, 'lng':...",1202,...,"[326 E D St, Tacoma, WA 98421, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5000b456e4b0ded98e2c85c7,Waterworks Hydroponics,"[{'id': '4bf58dd8d48988d11b951735', 'name': 'F...",v-1607932448,False,NaN,47.210307,-122.484777,"[{'label': 'display', 'lat': 47.210307, 'lng':...",5534,...,"[Tacoma, WA 98409, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4bef42c9ea570f476f288fd2,Foss Waterway Seaport,"[{'id': '4bf58dd8d48988d181941735', 'name': 'M...",v-1607932448,False,705 Dock St,47.258192,-122.437097,"[{'label': 'display', 'lat': 47.25819160692022...",981,...,"[705 Dock St, Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,5ab6acf1bfc6d07285c9f489,Washington Waterfront Real Estate - Washington...,"[{'id': '5032885091d4c4b30a586d66', 'name': 'R...",v-1607932448,False,2714 North Proctor Street,47.272479,-122.489228,"[{'label': 'display', 'lat': 47.2724788, 'lng'...",4516,...,"[2714 North Proctor Street, Tacoma, WA 98407, ...",NaN,560988392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,513c2d4ae4b06af92c6c6b79,Lake Liquorated,"[{'id': '4bf58dd8d48988d161941735', 'name': 'L...",v-1607932448,False,NaN,47.252178,-122.450165,"[{'label': 'display', 'lat': 47.25217819213867...",829,...,"[Tacoma, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4eab7240991107f63c9cf52d,Black Lake Haunted Asylum,"[{'id': '4bf58dd8d48988d11a941735', 'name': 'O...",v-1607932448,False,NaN,47.240425,-122.425021,"[{'label': 'display', 'lat': 47.24042501216283...",1516,...,"[Washington, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50bbbe0de4b0f3072c4f1dd2,594 to lakewood,"[{'id': '4bf58dd8d48988d12b951735', 'name': 'B...",v-1607932448,False,NaN,47.250546,-122.436005,"[{'label': 'display', 'lat': 47.25054550170898...",311,...,"[Tacoma, WA 98402, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4cedaee07db3224baa9d232e,Lakehood,[],v-1607932448,False,NaN,47.230217,-122.451300,"[{'label': 'display', 'lat': 47.23021709625467...",2321,...,"[Lakewood, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4b93f676f964a5203f5d34e3,Snake Lake Nature Center,"[{'id': '4bf58dd8d48988d159941735', 'name': 'T...",v-1607932448,False,NaN,47.242359,-122.493615,"[{'label': 'display', 'lat': 47.24235921567472...",4139,...,"[Washington, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4c327e17ed37a59397ff6b03,China Lake Nature Area,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...",v-1607932448,False,1811 S Shirley St,47.245277,-122.509346,"[{'label': 'display', 'lat': 47.24527740478515...",5271,...,"[1811 S Shirley St, Tacoma, WA 98465, United S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,538351e4498e22b2a68ad67a,Lakeside Milam Recovery,"[{'id': '52e81612bcbc57f1066b7a39', 'name': 'M...",v-1607932448,False,3315 23rd At,47.238704,-122.479687,"[{'label': 'display', 'lat': 47.238704, 'lng':...",3243,...,"[3315 23rd At (Union), Tacoma, WA, United States]",Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4ca92387f47ea143838e7c21,Black Lake Haunted Asylum,"[{'id': '4bf58dd8d48988d1f1931735', 'name': 'G...",v-1607932448,False,NaN,47.247355,-122.373402,"[{'label': 'display', 'lat': 47.24735532130492...",5029,...,"[Tacoma, WA 98421, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,538f8f27498e2876b1599452,Home Depot Bonney Lake,"[{'id': '4bf58dd8d48988d112951735', 'name': 'H...",v-1607932448,False,NaN,47.251736,-122.365334,"[{'label': 'display', 'lat': 47.25173568725586...",5637,...,"[Bonney Lake, WA, United States]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4da893594df0af29b71121ca,Spring Lake Cafe,"[{'id': '4bf58dd8d48988d16d941735', 'name': 'C...",v-1607932448,False,616 Regents Blvd,47.237449,-122.513623,"[{'label': 'display', 'lat': 47.237449, 'lng':...",5734,...,"[616 Regents Blvd, Fircrest, WA 98466, United ...",NaN,NaN,NaN,2181621,https://www.grubhub.com/restaurant/the-springl...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png
10,596fed28acc5f54128148644,Lakewood Ford,"[{'id': '4eb1c1623b7b52c0e1adc2ec', 'name': 'A...",v-1607932448,False,NaN,47.199547,-122.483420,"[{'label': 'display', 'lat': 47.199547, 'lng':...",6469,...,"[6202 south Tacoma way, Tacoma, WA 98409, Unit...",6202 south Tacoma way,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,519cdf6a498ef86eb813e5a6,tote totem ocean trailer express,"[{'id': '4e74f6cabd41c4836eac4c31', 'name': 'P...",v-1607932448,False,500 E Alexander Ave,47.278259,-122.408439,"[{'label': 'display', 'lat': 47.27825900000000...",3978,...,"[500 E Alexander Ave (E 11th Ave), Tacoma, WA ...",E 11th Ave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
NY_HS_address = '21 Morgan Rd., Fort Montgomery, NY 10922'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(NY_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

41.352542 -73.975572

In [14]:
CO_HS_address = '1200 Cresta Road, Colorado Springs, CO, 80906'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(CO_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

38.802944350000004 -104.85717489348889

In [15]:
AK_HS_address = '6200 Ashwood Street, Anchorage, AK, 99507'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(AK_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

61.16468165 -149.853906331702

In [16]:
HH_TX_HS_address = '1001 Fm 2410, Harker Heights, TX 76548'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(HH_TX_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

31.0752465 -97.6792695

In [17]:
SA_TX_HS_address = '1915 North Main Avenue, San Antonio, TX, 78212'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(SA_TX_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

29.4449255 -98.4942174

In [18]:
GA_HS_address = '615 12th St.,  Augusta, GA 30901'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(GA_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

33.4683762 -81.9774393

In [19]:
WA_HS_address = '11002 18th Ave, Tacoma, WA 98445'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(WA_HS_address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

47.1692861 -122.4593579

In [20]:
# Download the csv file and enter it into a dataframe and merge the dataframeson the key "postal code"
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [90]:
move_df = pd.read_csv('Move_Data8mod.csv')
move_df

,Comparison Cities,Number of Water Venues,Nearby,Lat,Long,Crime Index (higher is better to 100),HS Name,Great Schools Ranking out of 10,High School Quality Rating Compared to State (out of 10),High School Quality Rating Compared to Nation (out of 10)
0,"Budapest, HUN",7,NaN,47.481390,19.146073,NaN,NaN,NaN,NaN,NaN
1,"Prague, CZ",46,NaN,50.086423,14.415677,NaN,NaN,NaN,NaN,NaN
2,"Grafenwoehr, DEU",1,NaN,49.720088,11.906628,NaN,NaN,NaN,NaN,NaN
3,"West Point, NY",15,"Highland Falls, NY",40.851248,-72.535987,77.0,James O'Niell HS,6.0,8.0,8.0
4,"Colorado Springs, CO",45,NaN,38.833958,-104.825349,8.0,Cheyenne Mountain HS,9.0,10.0,10.0
5,"Fort Richardson, AK",46,"Anchorage, AK",61.216313,-149.894852,2.0,Polaris K-12 School,8.0,7.0,6.0
6,"Fort Hood, TX",9,"Harker Heights, TX",31.074635,-97.659047,20.0,Harker Heights HS,5.0,3.0,1.0
7,"San Antonio, TX",81,NaN,29.424600,-98.495141,5.0,Travis Early College High School,9.0,10.0,10.0
8,"Fort Gordon, GA",2,"Augusta, GA",48.368944,10.893333,13.0,Davidson Magnet School,9.0,10.0,10.0
9,Joint Base Lewis-McChord,49,"Tacoma, WA",47.249580,-122.439875,2.0,Franklin Pierce HS,5.0,7.0,7.0

In [22]:
# let's get the data for all of the neighborhoods in our dataframe from each of the cities
def getNearbyVenues(names, latitudes, longitudes, radius=5000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [23]:
# Let's get all of the venues from foursquare
All_venues = getNearbyVenues(names=move_df['Comparison Cities'],
                                   latitudes=move_df['Lat'],
                                   longitudes=move_df['Long']
                                  )

Budapest, HUN
Prague, CZ
Grafenwoehr, DEU
West Point, NY
Colorado Springs, CO
Fort Richardson, AK
Fort Hood, TX
San Antonio, TX
Fort Gordon, GA
Joint Base Lewis-McChord

In [24]:
# Now let's get the size of our dataframe and see the head of the dataframe
print(All_venues.shape)
# All_venues.head()
All_venues

(287, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,"Budapest, HUN",47.48139,19.146073,Óhegy park,47.480175,19.145222,Park
1,"Budapest, HUN",47.48139,19.146073,Mad Scientist,47.484094,19.156490,Brewery
2,"Budapest, HUN",47.48139,19.146073,Zila Vendéglő,47.480404,19.134662,Hungarian Restaurant
3,"Budapest, HUN",47.48139,19.146073,Hoan nam - Vietnami Speciális Melegkonyha,47.487718,19.134677,Vietnamese Restaurant
4,"Budapest, HUN",47.48139,19.146073,Spicy Fish | 沸腾魚乡 布达佩斯,47.480535,19.124681,Szechuan Restaurant
...,...,...,...,...,...,...,...
282,Joint Base Lewis-McChord,47.24958,-122.439875,The Lochs,47.254420,-122.438847,Music Venue
283,Joint Base Lewis-McChord,47.24958,-122.439875,The Rock Wood Fired Pizza,47.244169,-122.439247,Restaurant
284,Joint Base Lewis-McChord,47.24958,-122.439875,Tacoma Farmers Market,47.253922,-122.440267,Farmers Market
285,Joint Base Lewis-McChord,47.24958,-122.439875,indo Asian Street Eatery,47.264593,-122.449102,Asian Restaurant
286,Joint Base Lewis-McChord,47.24958,-122.439875,Doyle's Public House,47.261830,-122.445930,Pub

In [25]:
# Now let's start analyzing each of the neighborhoods and break them down with one hot encoding
# one hot encoding
All_onehot = pd.get_dummies(All_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
All_onehot['Neighborhood'] = All_venues['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [All_onehot.columns[-1]] + list(All_onehot.columns[:-1])
All_onehot = All_onehot[fixed_columns]

All_onehot.shape

(287, 113)

In [26]:
All_onehot.head()

,Neighborhood,American Restaurant,Antique Shop,Arcade,Art Gallery,Art Museum,Asian Restaurant,Bagel Shop,Bakery,Bar,...,Szechuan Restaurant,Taverna,Thai Restaurant,Theater,Theme Park Ride / Attraction,Toy / Game Store,Track,Vietnamese Restaurant,Wine Shop,Yoga Studio
0,"Budapest, HUN",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Budapest, HUN",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Budapest, HUN",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Budapest, HUN",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,"Budapest, HUN",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [27]:
# Now we will take the mean of the occurences of the venues for each neighborhood
All_grouped = All_onehot.groupby('Neighborhood').mean().reset_index()
All_grouped

,Neighborhood,American Restaurant,Antique Shop,Arcade,Art Gallery,Art Museum,Asian Restaurant,Bagel Shop,Bakery,Bar,...,Szechuan Restaurant,Taverna,Thai Restaurant,Theater,Theme Park Ride / Attraction,Toy / Game Store,Track,Vietnamese Restaurant,Wine Shop,Yoga Studio
0,"Budapest, HUN",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.033333,...,0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.033333,0.033333,0.000000
1,"Colorado Springs, CO",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,"Fort Gordon, GA",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,...,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,"Fort Hood, TX",0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,...,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,"Fort Richardson, AK",0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.066667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,"Grafenwoehr, DEU",0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Joint Base Lewis-McChord,0.033333,0.033333,0.033333,0.033333,0.033333,0.066667,0.000000,0.033333,0.066667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000
7,"Prague, CZ",0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.066667,0.000000,0.033333,0.000000,0.000000,0.000000,0.033333
8,"San Antonio, TX",0.033333,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.033333,0.000000,...,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,"West Point, NY",0.066667,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.033333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000

In [28]:
# Let's define the most common venues and sort them descending
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

# Now let's sort into grouped venues

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = All_grouped['Neighborhood']

for ind in np.arange(All_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(All_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Budapest, HUN",Coffee Shop,Hungarian Restaurant,Brewery,Garden Center,Gym,Dessert Shop,Furniture / Home Store,Night Market,Park,Burger Joint
1,"Colorado Springs, CO",Brewery,Gastropub,Steakhouse,Hotel,Coffee Shop,New American Restaurant,Juice Bar,Italian Restaurant,Park,Sandwich Place
2,"Fort Gordon, GA",Café,Plaza,Indian Restaurant,Hotel,Roof Deck,Beer Garden,Burger Joint,Indie Movie Theater,Brewery,Farmers Market
3,"Fort Hood, TX",Burger Joint,American Restaurant,Coffee Shop,Sushi Restaurant,Bookstore,Cajun / Creole Restaurant,Bagel Shop,Cosmetics Shop,Diner,Discount Store
4,"Fort Richardson, AK",Seafood Restaurant,Steakhouse,Brewery,Bar,Park,Hotel,Electronics Store,Ice Cream Shop,Pub,Breakfast Spot
5,"Grafenwoehr, DEU",Fast Food Restaurant,Supermarket,Italian Restaurant,Hardware Store,Sandwich Place,Shopping Mall,Mexican Restaurant,Coffee Shop,Gym / Fitness Center,Asian Restaurant
6,Joint Base Lewis-McChord,Bar,Museum,Brewery,Asian Restaurant,American Restaurant,Restaurant,Recreation Center,Farmers Market,Park,New American Restaurant
7,"Prague, CZ",Ice Cream Shop,Garden,Hotel,Island,Theater,Café,Cocktail Bar,Noodle House,Building,Park
8,"San Antonio, TX",Hotel,Theater,Plaza,History Museum,Pedestrian Plaza,Park,New American Restaurant,Mexican Restaurant,Lounge,Grocery Store
9,"West Point, NY",Seafood Restaurant,Beach,American Restaurant,Deli / Bodega,Italian Restaurant,Ice Cream Shop,Farmers Market,Asian Restaurant,Coffee Shop,Caribbean Restaurant

In [29]:
# Now we will use k-means to cluster the neighborhoods into 5 clusters based on venues

# set number of clusters
kclusters = 5

All_grouped_clustering = All_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(All_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 3, 2, 3, 4, 0, 3, 2, 1, 4], dtype=int32)

In [30]:
neighborhoods_venues_sorted

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Budapest, HUN",Coffee Shop,Hungarian Restaurant,Brewery,Garden Center,Gym,Dessert Shop,Furniture / Home Store,Night Market,Park,Burger Joint
1,"Colorado Springs, CO",Brewery,Gastropub,Steakhouse,Hotel,Coffee Shop,New American Restaurant,Juice Bar,Italian Restaurant,Park,Sandwich Place
2,"Fort Gordon, GA",Café,Plaza,Indian Restaurant,Hotel,Roof Deck,Beer Garden,Burger Joint,Indie Movie Theater,Brewery,Farmers Market
3,"Fort Hood, TX",Burger Joint,American Restaurant,Coffee Shop,Sushi Restaurant,Bookstore,Cajun / Creole Restaurant,Bagel Shop,Cosmetics Shop,Diner,Discount Store
4,"Fort Richardson, AK",Seafood Restaurant,Steakhouse,Brewery,Bar,Park,Hotel,Electronics Store,Ice Cream Shop,Pub,Breakfast Spot
5,"Grafenwoehr, DEU",Fast Food Restaurant,Supermarket,Italian Restaurant,Hardware Store,Sandwich Place,Shopping Mall,Mexican Restaurant,Coffee Shop,Gym / Fitness Center,Asian Restaurant
6,Joint Base Lewis-McChord,Bar,Museum,Brewery,Asian Restaurant,American Restaurant,Restaurant,Recreation Center,Farmers Market,Park,New American Restaurant
7,"Prague, CZ",Ice Cream Shop,Garden,Hotel,Island,Theater,Café,Cocktail Bar,Noodle House,Building,Park
8,"San Antonio, TX",Hotel,Theater,Plaza,History Museum,Pedestrian Plaza,Park,New American Restaurant,Mexican Restaurant,Lounge,Grocery Store
9,"West Point, NY",Seafood Restaurant,Beach,American Restaurant,Deli / Bodega,Italian Restaurant,Ice Cream Shop,Farmers Market,Asian Restaurant,Coffee Shop,Caribbean Restaurant

In [32]:
# neighborhoods_venues_sorted = neighborhoods_venues_sorted.drop('Cluster Labels', 1)

In [33]:
neighborhoods_venues_sorted

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Budapest, HUN",Coffee Shop,Hungarian Restaurant,Brewery,Garden Center,Gym,Dessert Shop,Furniture / Home Store,Night Market,Park,Burger Joint
1,"Colorado Springs, CO",Brewery,Gastropub,Steakhouse,Hotel,Coffee Shop,New American Restaurant,Juice Bar,Italian Restaurant,Park,Sandwich Place
2,"Fort Gordon, GA",Café,Plaza,Indian Restaurant,Hotel,Roof Deck,Beer Garden,Burger Joint,Indie Movie Theater,Brewery,Farmers Market
3,"Fort Hood, TX",Burger Joint,American Restaurant,Coffee Shop,Sushi Restaurant,Bookstore,Cajun / Creole Restaurant,Bagel Shop,Cosmetics Shop,Diner,Discount Store
4,"Fort Richardson, AK",Seafood Restaurant,Steakhouse,Brewery,Bar,Park,Hotel,Electronics Store,Ice Cream Shop,Pub,Breakfast Spot
5,"Grafenwoehr, DEU",Fast Food Restaurant,Supermarket,Italian Restaurant,Hardware Store,Sandwich Place,Shopping Mall,Mexican Restaurant,Coffee Shop,Gym / Fitness Center,Asian Restaurant
6,Joint Base Lewis-McChord,Bar,Museum,Brewery,Asian Restaurant,American Restaurant,Restaurant,Recreation Center,Farmers Market,Park,New American Restaurant
7,"Prague, CZ",Ice Cream Shop,Garden,Hotel,Island,Theater,Café,Cocktail Bar,Noodle House,Building,Park
8,"San Antonio, TX",Hotel,Theater,Plaza,History Museum,Pedestrian Plaza,Park,New American Restaurant,Mexican Restaurant,Lounge,Grocery Store
9,"West Point, NY",Seafood Restaurant,Beach,American Restaurant,Deli / Bodega,Italian Restaurant,Ice Cream Shop,Farmers Market,Asian Restaurant,Coffee Shop,Caribbean Restaurant

In [34]:
# Top ten venues per cluster
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

# All_merged = move_df

# merge Toronto_grouped with Toronto_data to add latitude/longitude for each neighborhood
# All_merged = All_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

#All_merged.head() # check the last columns!
All_merged = neighborhoods_venues_sorted

In [35]:
neighborhoods_venues_sorted

,Cluster Labels,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,3,"Budapest, HUN",Coffee Shop,Hungarian Restaurant,Brewery,Garden Center,Gym,Dessert Shop,Furniture / Home Store,Night Market,Park,Burger Joint
1,3,"Colorado Springs, CO",Brewery,Gastropub,Steakhouse,Hotel,Coffee Shop,New American Restaurant,Juice Bar,Italian Restaurant,Park,Sandwich Place
2,2,"Fort Gordon, GA",Café,Plaza,Indian Restaurant,Hotel,Roof Deck,Beer Garden,Burger Joint,Indie Movie Theater,Brewery,Farmers Market
3,3,"Fort Hood, TX",Burger Joint,American Restaurant,Coffee Shop,Sushi Restaurant,Bookstore,Cajun / Creole Restaurant,Bagel Shop,Cosmetics Shop,Diner,Discount Store
4,4,"Fort Richardson, AK",Seafood Restaurant,Steakhouse,Brewery,Bar,Park,Hotel,Electronics Store,Ice Cream Shop,Pub,Breakfast Spot
5,0,"Grafenwoehr, DEU",Fast Food Restaurant,Supermarket,Italian Restaurant,Hardware Store,Sandwich Place,Shopping Mall,Mexican Restaurant,Coffee Shop,Gym / Fitness Center,Asian Restaurant
6,3,Joint Base Lewis-McChord,Bar,Museum,Brewery,Asian Restaurant,American Restaurant,Restaurant,Recreation Center,Farmers Market,Park,New American Restaurant
7,2,"Prague, CZ",Ice Cream Shop,Garden,Hotel,Island,Theater,Café,Cocktail Bar,Noodle House,Building,Park
8,1,"San Antonio, TX",Hotel,Theater,Plaza,History Museum,Pedestrian Plaza,Park,New American Restaurant,Mexican Restaurant,Lounge,Grocery Store
9,4,"West Point, NY",Seafood Restaurant,Beach,American Restaurant,Deli / Bodega,Italian Restaurant,Ice Cream Shop,Farmers Market,Asian Restaurant,Coffee Shop,Caribbean Restaurant

In [36]:

# Now to examine each cluster to identify the particular traits of the clusters that marks them into clusters of similarity
# Cluster #0
All_merged.loc[All_merged['Cluster Labels'] == 0, All_merged.columns[[1] + list(range(5, All_merged.shape[1]))]]

,Neighborhood,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
5,"Grafenwoehr, DEU",Hardware Store,Sandwich Place,Shopping Mall,Mexican Restaurant,Coffee Shop,Gym / Fitness Center,Asian Restaurant

In [37]:
# From this cluster, we see that Grafenwoehr, Germany, 
# does not share many venue traits with the other clusters

In [38]:

# Now to examine each cluster to identify the particular traits of the clusters that marks them into clusters of similarity
# Cluster #1
All_merged.loc[All_merged['Cluster Labels'] == 1, All_merged.columns[[1] + list(range(5, All_merged.shape[1]))]]

,Neighborhood,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
8,"San Antonio, TX",History Museum,Pedestrian Plaza,Park,New American Restaurant,Mexican Restaurant,Lounge,Grocery Store

In [39]:
# From this cluster, we see that San Antonio, TX, 
# does not share many venue traits with the other clusters

In [40]:

# Now to examine each cluster to identify the particular traits of the clusters that marks them into clusters of similarity
# Cluster #2
All_merged.loc[All_merged['Cluster Labels'] == 2, All_merged.columns[[1] + list(range(5, All_merged.shape[1]))]]

,Neighborhood,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,"Fort Gordon, GA",Hotel,Roof Deck,Beer Garden,Burger Joint,Indie Movie Theater,Brewery,Farmers Market
7,"Prague, CZ",Island,Theater,Café,Cocktail Bar,Noodle House,Building,Park

In [41]:
# From this cluster, we see that Fort Gordon, GA, and Prague, CZ, share some venue similarities,
# both of them having a movie theater

In [42]:

# Now to examine each cluster to identify the particular traits of the clusters that marks them into clusters of similarity
# Cluster #3
All_merged.loc[All_merged['Cluster Labels'] == 3, All_merged.columns[[1] + list(range(5, All_merged.shape[1]))]]

,Neighborhood,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Budapest, HUN",Garden Center,Gym,Dessert Shop,Furniture / Home Store,Night Market,Park,Burger Joint
1,"Colorado Springs, CO",Hotel,Coffee Shop,New American Restaurant,Juice Bar,Italian Restaurant,Park,Sandwich Place
3,"Fort Hood, TX",Sushi Restaurant,Bookstore,Cajun / Creole Restaurant,Bagel Shop,Cosmetics Shop,Diner,Discount Store
6,Joint Base Lewis-McChord,Asian Restaurant,American Restaurant,Restaurant,Recreation Center,Farmers Market,Park,New American Restaurant

In [43]:
# From this cluster, we see that this is the largest cluster, where four cities share some 
# venue similarities, with three of the cities having parks as their 9th venue,
# and Fort Hood and Joint Base Lewis-McChord having Sushi and Asian Restaurants, 
# and Colorado Springs and Joint Base Lewis-McChord both having New American Restaurants.

In [44]:

# Now to examine each cluster to identify the particular traits of the clusters that marks them into clusters of similarity
# Cluster #4
All_merged.loc[All_merged['Cluster Labels'] == 4, All_merged.columns[[1] + list(range(5, All_merged.shape[1]))]]

,Neighborhood,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,"Fort Richardson, AK",Bar,Park,Hotel,Electronics Store,Ice Cream Shop,Pub,Breakfast Spot
9,"West Point, NY",Deli / Bodega,Italian Restaurant,Ice Cream Shop,Farmers Market,Asian Restaurant,Coffee Shop,Caribbean Restaurant

In [45]:
# From this cluster, we see that this cluster has two cities, primarily with Ice Cream Shops
# in common

In [93]:
move_df = pd.read_csv('Move_Data8mod.csv')
move_df

,Comparison Cities,Number of Water Venues,Nearby,Lat,Long,Crime Index (higher is better to 100),HS Name,Great Schools Ranking out of 10,High School Quality Rating Compared to State (out of 10),High School Quality Rating Compared to Nation (out of 10)
0,"Budapest, HUN",7,NaN,47.481390,19.146073,NaN,NaN,NaN,NaN,NaN
1,"Prague, CZ",46,NaN,50.086423,14.415677,NaN,NaN,NaN,NaN,NaN
2,"Grafenwoehr, DEU",1,NaN,49.720088,11.906628,NaN,NaN,NaN,NaN,NaN
3,"West Point, NY",15,"Highland Falls, NY",40.851248,-72.535987,77.0,James O'Niell HS,6.0,8.0,8.0
4,"Colorado Springs, CO",45,NaN,38.833958,-104.825349,8.0,Cheyenne Mountain HS,9.0,10.0,10.0
5,"Fort Richardson, AK",46,"Anchorage, AK",61.216313,-149.894852,2.0,Polaris K-12 School,8.0,7.0,6.0
6,"Fort Hood, TX",9,"Harker Heights, TX",31.074635,-97.659047,20.0,Harker Heights HS,5.0,3.0,1.0
7,"San Antonio, TX",81,NaN,29.424600,-98.495141,5.0,Travis Early College High School,9.0,10.0,10.0
8,"Fort Gordon, GA",2,"Augusta, GA",48.368944,10.893333,13.0,Davidson Magnet School,9.0,10.0,10.0
9,Joint Base Lewis-McChord,49,"Tacoma, WA",47.249580,-122.439875,2.0,Franklin Pierce HS,5.0,7.0,7.0

In [95]:
# Get names of indexes for which column Lat is the latitude for the cities:West Point, San Antonio, Fort Gordon, Fort Richardson, Prague, or Grafenwoehr,
# because we only want those cities that are in cluster #3
# and then we can remove Budapest, because we are anticipating a move to the U.S.
removed_df = move_df

# drop the following rows based on their not being in our main cluster for consideration for moving
removed_df.drop([0, 1, 2, 3, 5, 7, 8], inplace=True)
removed_df

,Comparison Cities,Number of Water Venues,Nearby,Lat,Long,Crime Index (higher is better to 100),HS Name,Great Schools Ranking out of 10,High School Quality Rating Compared to State (out of 10),High School Quality Rating Compared to Nation (out of 10)
4,"Colorado Springs, CO",45,NaN,38.833958,-104.825349,8.0,Cheyenne Mountain HS,9.0,10.0,10.0
6,"Fort Hood, TX",9,"Harker Heights, TX",31.074635,-97.659047,20.0,Harker Heights HS,5.0,3.0,1.0
9,Joint Base Lewis-McChord,49,"Tacoma, WA",47.249580,-122.439875,2.0,Franklin Pierce HS,5.0,7.0,7.0

In [98]:
# Now we can do another sort by our other priority criteria to identify a ranked order for these more narrowed down locations
# We can now sort the dataframe based upon Water venues, GreatSchools.org ranking, 
# and Neighborhoodscouts.com quality school ranking to the nation, and crime rate to order the cities
removed_df.sort_values(by=['Number of Water Venues', 'Great Schools Ranking out of 10', 'High School Quality Rating Compared to Nation (out of 10)', 'Crime Index (higher is better to 100)'], ascending=False)

,Comparison Cities,Number of Water Venues,Nearby,Lat,Long,Crime Index (higher is better to 100),HS Name,Great Schools Ranking out of 10,High School Quality Rating Compared to State (out of 10),High School Quality Rating Compared to Nation (out of 10)
9,Joint Base Lewis-McChord,49,"Tacoma, WA",47.249580,-122.439875,2.0,Franklin Pierce HS,5.0,7.0,7.0
4,"Colorado Springs, CO",45,NaN,38.833958,-104.825349,8.0,Cheyenne Mountain HS,9.0,10.0,10.0
6,"Fort Hood, TX",9,"Harker Heights, TX",31.074635,-97.659047,20.0,Harker Heights HS,5.0,3.0,1.0

In [97]:
# With our final results, we can tell that in rank by our priority criteria, Joint Base Lewis-McChord has the most water venues, highest school rankings,and lowest crime, 
# given the previously ranked conditions.  If we had different priorities, we could changed the ranking
# order to accomodate those priorities and we could also add other factors, such as cost of living, demographics, etc.